<%= form_for :group, url: groups_path, method: :post do |group_frm| %>
  <div class="modal-body">
    <div class="mb-4">
      <%= group_frm.label :name, "Name", class: "form-label" %>
      <%= group_frm.text_field :name, class: "form-control", placeholder: "Name your folder", type: "text" %>
    </div>
    <div class="mb-4">
      <%= group_frm.label "Add Reviews", class: "form-label" %>
      <%= group_frm.text_field :search, class: "form-control", placeholder: "Search for reviews", type: "text" %>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn white" data-bs-dismiss="modal">Cancel</button>
    <%= group_frm.submit "Save Changes", class: 'save-changes' %>
  </div>
<% end %>