<main class="container overflow-hidden">
  <%= render "shared/profile_image" %>
  <span class="user-name d-flex justify-content-center profile-name mt-3"><%= @group.name.titleize %></span>
  <div class="row justify-content-center pt_30">
    <button class="col-lg-1 col-md-3 col-8 btn white mx-2" type="button" data-bs-toggle="modal" data-bs-target="#shareModal" data-action="click->guest#addLinkField">
      <%= image_tag("template/share.svg") %>Share
    </button>
    <button class='col-lg-1 col-md-3 col-8 mt-3 mt-md-0 btn mx-2'>
      <%= image_tag("template/edit.svg") %><span>Edit</span>
    </button>
    <button class='col-lg-2 col-md-3 col-8 mt-3 mt-md-0 btn mx-2 add-new-btn'>
      <%= image_tag("template/plus.svg") %><span>Add New</span>
    </button>
  </div>
  <%= render "new_homepage/review_cards", reviews: @reviews, pagy: @pagy %>
</main>