<div class="review-filters" data-controller="filter">
  <%= form_with(method: :GET, local: true, html: { class: '' }, data: { 'filter-target': 'filtersForm' }) do |f| %>
    <div class="middle_nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <ul class="nav">
              <%= f.hidden_field :to_try, :value => "#{params[:to_try]}" %>
              <%= f.hidden_field :category_id, :value => "#{params[:category_id]}" %>
              <li><%= link_to 'All', users_index_path(to_try: 'all', category_id: params[:category_id], score: params[:score], profile: 'true'), class: "to-try-all rounded-start #{'active' if params[:to_try] == 'all' || params[:to_try].blank?}" %></li>
              <li><%= link_to 'Reviews', users_index_path(to_try: false, category_id: params[:category_id], score: params[:score], profile: 'true'), class: "#{'active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'Wishlist', users_index_path(to_try: true, category_id: params[:category_id], score: params[:score], profile: 'true'), class: "#{'active' if params[:to_try] == 'true'}" %></li>
              <li><%= link_to 'Favorites', users_index_path(to_try: 'favourite', category_id: params[:category_id], score: params[:score], profile: 'true'), class: "rounded-end #{'active' if params[:to_try] == 'favourite'}" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>