<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-lg-6">
      <%= form_with url: users_update_path, method: :patch do |f| %>
        <div class="review_area" id="review_area">
          <div class="tabs_content_wrap">

            <div class="row align-items-center form_group  mb_50">
              <div class="edit-heading">Profile Photo</div>
              <div class="d-flex mt-5">
                <%= image_tag("template/avatar1.png", class: 'rounded-circle') %>
                <button class="ml-14 btn-profile-pic edit-upload"><%= image_tag("template/upload.svg", class: "mr-2") %>
                  Upload New Picture
                </button>
                <button class="ml-24 btn-profile-pic edit-upload"><%= image_tag("template/edit-delete.svg", class: "mr-2") %>
                  Delete Picture
                </button>
                <%#= f.file_field :avatar do %>
                  <%#= image_tag("template/upload.svg", class: "mr-2") %>
<!--                                    Upload New Picture-->
                <%# end %>
              </div>
            </div>
            <hr class="edit-separator">
            <div class="row align-items-center form_group  mb_50">
              <div class="edit-heading mb-5 mt-4">Details</div>
              <%= f.label :first_name, "Username", class: 'col-lg-5 edit-label' %>
              <%= f.text_field :first_name, class: "col-lg-7 edit-text-field", value: @user.first_name.titleize %>
            </div>
            <hr class="edit-separator">

            <div class="edit-heading mb-5 mt-4">Password</div>
            <div class="row align-items-center form_group  mb_50">
              <%= f.label :name, "Old Password", class: 'col-lg-5 edit-label' %>
              <%= f.text_field :current_password, class: "col-lg-7 edit-text-field", placeholder: "Enter Old Password", type: "text" %>
            </div>
            <div class="row align-items-center form_group  mb_50">
              <%= f.label :name, "New Password", class: 'col-lg-5 edit-label' %>
              <%= f.text_field :encrypted_password, class: "col-lg-7 edit-text-field", placeholder: "Enter New Password", type: "text" %>
            </div>
            <hr class="edit-separator">
            <div class="row align-items-center form_group  mb_50">
              <div class="edit-heading mb-5 mt-4">Account</div>
              <%= f.label :name, "Delete Account", class: 'col-5 edit-label' %>
<!--              <button class="btn-profile-pic edit-upload w-auto p-19">-->
<!--                Delete Account-->
<!--              </button>-->
              <%= link_to "Delete Account", users_destroy_path(@article), class:"btn-profile-pic edit-upload w-auto p-19", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
            </div>
            <hr class="edit-separator  mb_50">
            <div class="row align-items-center form_group">
              <%= f.submit "Save Changes", class:"w-auto edit-save p-19" %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
