<header class="d-flex align-items-center sticky-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-3">
        <%= link_to root_path, class: 'logo' do %>
          <%= image_tag("template/logo.png") %>
          <%= image_tag("template/logo1.png") %>
        <% end %>
      </div>
      <div class="col-lg-6 col-6 text-center">
        <ul class="menu d-none d-lg-inline-flex align-items-center jutify-content-center">
          <li><a class="nav_link active" href="#"><%= image_tag("template/nav-icon1.png") %><span>Restaurants</span></a></li>
          <li><a class="nav_link" href="#"><%= image_tag("template/nav-icon2.png") %><span>Games</span></a></li>
          <li><a class="nav_link" href="#"><%= image_tag("template/nav-icon3.png") %><span>Books</span></a></li>
          <li><a class="nav_link" href="#"><%= image_tag("template/nav-icon4.png") %><span>Movies</span></a></li>
          <li class="dropdown ml_15">
            <a class="bars" href="#" id="menu_dropdown" data-bs-toggle="dropdown" aria-expanded="false"><%= image_tag("template/nav-icon5.png") %></a>
            <ul class="dropdown-menu" aria-labelledby="menu_dropdown">
              <li><a class="dropdown-item" href="#">New Item 1</a></li>
              <li><a class="dropdown-item" href="#">New Item 2</a></li>
              <li><a class="dropdown-item" href="#">New Item 3</a></li>
            </ul>
          </li>
        </ul>

        <!-- menu dropdown for mobile -->
        <div class="d-lg-none dropdown menuItemDropdown">
          <a href="#" class="toggler" id="menuItemDropdown" data-bs-toggle="dropdown" aria-expanded="false"><%= image_tag("template/nav-icon1.png") %><span>Restaurants</span><%= image_tag("template/bottom-arrow3.png", class: 'arrow') %></a>

          <ul class="dropdown-menu" aria-labelledby="menuItemDropdown">
            <li><a href="#"><span class="icon"><%= image_tag("template/nav-icon2.png") %></span><span>Games</span></a></li>
            <li><a href="#"><span class="icon"><%= image_tag("template/nav-icon3.png") %></span><span>Books</span></a></li>
            <li><a href="#"><span class="icon"><%= image_tag("template/nav-icon4.png") %></span><span>Movies</span></a></li>
          </ul>
        </div>

      </div>
      <div class="col-lg-3 col-3 text-end">
        <div class="dropdown user d-inline-block">
          <a class="d-inline-flex align-items-center" href="#" id="user_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <p class="name">Hello, <span>James</span></p>
            <%= image_tag("template/avatar1.png", class: 'avatar') %>
            <%= image_tag("template/bottom-arrow1.png", class: 'arrow') %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="user_dropdown">
            <li><a class="dropdown-item" href="#">New User 1</a></li>
            <li><a class="dropdown-item" href="#">New User 2</a></li>
            <li><a class="dropdown-item" href="#">New User 3</a></li>
            <li><a class="dropdown-item" href="#">New User 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>