<header class="d-flex align-items-center sticky-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-3">
        <%= link_to root_path, class: 'logo' do %>
          <%= image_tag("template/fullsite-logo.svg", class: "d-lg-block d-none") %>
          <%= image_tag("template/smallsite-logo.svg", class: "d-lg-none d-block") %>
        <% end %>
      </div>
      <div class="col-lg-6 col-6 text-center">
        <ul class="menu d-lg-inline-flex align-items-center jutify-content-center d-none d-lg-block">
          <li>
            <%= link_to "All", params[:profile].present? ? users_index_path(category_id: 'all', profile: 'true') : reviews_path(category_id: 'all'), class: "nav_link #{'active' if params[:category_id] == 'all' || !params[:category_id].present?}" %>
          </li>
          <% Category.all.each do |category| %>

            <% if category.active? %>
              <li>
                <%= link_to reviews_path(category_id: category.id), class: "nav_link #{'active' if params[:category_id].to_i == category.id}" do %>
                  <%#= show_svg(category.icon) if category.icon.attached?%>
                  <span class="ml_5"><%= category.name %></span>
                <% end %>
              </li>
            <% end %>

          <% end %>
          <!-- TODO Adding Link -->
          <li class="dropdown ml_15">
            <a class="bars" href="#" id="menu_dropdown" data-bs-toggle="dropdown" aria-expanded="false"><%= image_tag("template/more-horiz.svg") %></a>
            <ul class="dropdown-menu" aria-labelledby="menu_dropdown">
              <li><a class="dropdown-item" href="#">Other Category</a></li>
              <hr>
              <li><%= link_to "Manage categories", categories_path, class:"dropdown-item" %></li>
            </ul>
          </li>
        </ul>
        <!-- menu dropdown for mobile -->
        <div class="d-lg-none dropdown menuItemDropdown">
          <%= link_to "Categories", params[:profile].present? ? users_index_path(category_id: 'all', profile: 'true') : reviews_path(category_id: 'all'), "aria-expanded": "false", "data-bs-toggle": "dropdown", class: "nav_link #{'active' if params[:category_id] == 'all' || !params[:category_id].present?} toggler w-auto" %>
          <ul class="dropdown-menu" aria-labelledby="menuItemDropdown">

            <li>
              <%= link_to "All", params[:profile].present? ? users_index_path(category_id: 'all', profile: 'true') : reviews_path(category_id: 'all'), class: "icon" %>
            </li>
            <% Category.all.each do |category| %>
              <li>
                <%= link_to reviews_path(category_id: category.id), class: "icon" do %>
                  <span class="icon">
                  <%#= show_svg(category.icon) if category.icon.attached? %>
                    </span>
                  <%= category.name %>
                <% end %>
              </li>
            <% end %>

          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-3 text-end">
        <% if user_signed_in? %>
          <div class="dropdown user d-inline-block">
            <a class="d-inline-flex align-items-center" href="#" id="sessionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <p class="name">Hello, <span><%= current_user.first_name.titleize %></span></p>
              <span class="header-img">
                      <%= image_tag(current_user.avatar.attached? ? current_user.avatar : "template/avatarplaceholder.jpg", class: 'rounded-circle') %>
                        </span>
              <%= image_tag("template/bottom-arrow1.png", class: 'arrow') %>
            </a>
            <ul class="dropdown-menu dropdown-w" aria-labelledby="sessionDropdown">
              <li class="cursor-pointer">
                <div class="dropdown-item dropdown-img">
                  <div class="d-flex ">
                      <span class="col-2">
                      <%= image_tag(current_user.avatar.attached? ? current_user.avatar : "template/avatarplaceholder.jpg", class: 'rounded-circle') %>
                        </span>
                    <div class="d-inline dropdown-info">
                      <span class="d-block user-name"><%= current_user.first_name.titleize %></span>
                      <span class="user-email"><%= current_user.email %></span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="cursor-pointer">
                <%= link_to "My Profile", users_index_path(profile: 'true'), class: "dropdown-item" %>
              </li>
              <li class="cursor-pointer">
                <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %>
              </li>
              <li class="dropdown-item pb-3 m-0 pr-2 pl-4 pt-3 cursor-pointer" data-bs-toggle="modal" data-bs-target="#logOutModal">
                <a class="dropdown-item" href="#" onclick="event.preventDefault()">Log Out</a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="modal fade" id="logOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-20">
      <div class="modal-body bg-white p-5 rounded-20">
        <div class="d-flex justify-content-center align-items-center p-19 logout-heading">
          Log Out
        </div>
        <div class="d-flex justify-content-center align-items-center">
          Are you sure you want to logout?
        </div>
      </div>
      <div class="d-flex justify-content-evenly pb-5 flex-wrap">
        <a type="button" class="modal-cancel btn-modal d-flex justify-content-center align-items-center" data-bs-dismiss="modal">Cancel</a>
        <%= link_to 'Log Out', destroy_user_session_path, data: { "turbo-method": :delete }, class: 'btn-logout btn-modal d-flex justify-content-center align-items-center' %>
      </div>
    </div>
  </div>
</div>