<!--down below header is only for public review (if user is not sigin)-->
<% unless user_signed_in? %>
  <header class="d-flex align-items-center sticky-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-3">
          <%= link_to reviews_path, class: 'logo' do %>
            <%= image_tag("template/fullsite-logo.svg", class: "d-lg-block d-none") %>
            <%= image_tag("template/smallsite-logo.svg", class: "d-lg-none d-block") %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
<% end %>
<main class="overflow-hidden position-relative" data-controller="guest" data-guest-slug-value="<%= @review.slug %>">
  <div class="d-flex justify-content-center position-absolute share-message-wraper d-none" data-guest-target="shareMsg">
    <span class="share-message"> <%= image_tag("template/check-circle.svg", class: "mr_10") %>
      Link Copied To Clipboard</span>
  </div>
  <span class="back" data-action="click->guest#back"><%= image_tag("template/left-arrow.svg") %></span>
  <!--========== Hero area start ===========-->
  <section class="hero_area pt_50">
    <!-- this carousel area for mobile -->
    <div class="container custom">
      <!-- carousel start -->
      <div class="owl-carousel owl-theme card_carousel d-lg-none">
        <% @review.images[0..5].each do |image_src| %>
          <div class="item">
            <img src="<%= image_src %>">
          </div>
        <% end %>
      </div>
      <!-- carousel start -->


      <div class="hero_header">
        <!--        render guest or owner or shared link header here d-->
        <%= render owner ? "reviews/owner_show_header" : 'guests/guest_show_header', review_user: review_user %>

        <!-- gallery-->
        <div class="row img_gallery g-3 d-none d-lg-flex">
          <% if @review.images? %>
            <% if @review.images.count == 1 %>
              <div class="col-lg-12 large ">
                <a href="<%= @review.images.first %>" data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                  <img src=<%= @review.images.first %>>
                </a>
              </div>
            <% elsif @review.images.count == 2 %>
              <div class="col-lg-12 d-flex justify-content-between">
                <div class="col-lg-6 large-half ">
                  <a href="<%= @review.images.first %>" data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                    <img src=<%= @review.images.first %>>
                  </a>
                </div>
                <div class="col-lg-6 large-half ">
                  <a href="<%= @review.images.second %>" data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                    <img src=<%= @review.images.second %>>
                  </a>
                </div>
              </div>
            <% elsif @review.images.count == 3 %>
              <div class="col-lg-12 d-flex justify-content-between">
                <div class="col-lg-6 large-half ">
                  <a href="<%= @review.images.first %>" data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                    <img src=<%= @review.images.first %>>
                  </a>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-between">
                  <div class="col-lg-12 large-slice ">
                    <a href="<%= @review.images.second %>" data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                      <img src=<%= @review.images.second %>>
                    </a>
                  </div>
                  <div class="col-lg-12 large-slice ">
                    <a href="<%= @review.images.third %>" data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                      <img src=<%= @review.images.third %>>
                    </a>
                  </div>
                </div>
              </div>
            <% elsif @review.images.count == 4 %>
              <div class="col-lg-12 d-flex justify-content-between">
                <div class="col-lg-6 large-half ">
                  <a href="<%= @review.images.first %>" data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                    <img src=<%= @review.images.first %>>
                  </a>
                </div>
                <div class="col-lg-6 d-flex justify-content-between">
                  <div class="row g-3">
                    <% @review.images[1..].each_with_index do |image_src, idx| %>
                      <div class="col-lg-6 small position-relative">
                        <a href="<%= image_src %> " data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                          <img src="<%= image_src %>" class="<%= 'd-none' if idx > 3 %>">
                        </a>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="col-lg-12 d-flex justify-content-between">
                <div class="col-lg-6 large-half ">
                  <a href="<%= @review.images.first %>" data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                    <img src=<%= @review.images.first %>>
                  </a>
                </div>
                <div class="col-lg-6 d-flex justify-content-between">
                  <div class="row g-3">
                    <% @review.images[1..].each_with_index do |image_src, idx| %>
                      <div class="col-lg-6 small position-relative">
                        <a href="<%= image_src %> " data-toggle="lightbox" data-gallery="first-gallery" data-type="image">
                          <img src="<%= image_src %>" class="<%= 'd-none' if idx > 3 %>">
                        </a>
                        <% if image_src.equal?(@review.images[1..4].last) %>
                          <button type="button" class="see-all-photo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <%= image_tag("template/eye.svg", class: 'gallery-icon mr-2') %>
                            See All Photos
                          </button>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- gallery end-->
      </div>
    </div>
  </section>

  <!-- images gallery Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-focus="false">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered img-gallery-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Photo Gallery</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-gallery">
            <% @review.images.each do |image_src| %>
              <div class="grid-item">
                <a href="<%= image_src %>" data-toggle="lightbox" data-gallery="full-gallery" data-type="image">
                  <img class=" img-fluid" src=<%= image_src %>>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container custom pb_50 mobile-show">
    <div class="row g-lg-5">
      <% if @review.notes.present? or @review.meals.present? or @review.tags.present? %>
        <div class="col-lg-8">
          <h3 class="review-detail-head mt_50 mb-3">Review</h3>
          <div class="review_details_wrap">
            <% if @review.notes.present? %>
              <div class="review-notes position-relative list-style-unset ck-content">
                <%= raw @review.notes %>
              </div>
            <% end %>
            <% if @review.meals.present? %>
              <div class="review-highlight mt-5">
                <h3 class="mb-3">Highlights</h3>
                <ul class="favorite_dishes_list">
                  <% @review.meals.each do |meal| %>
                    <li>
                      <img class="main_img" src=<%= meal.image_url %>>
                      <div class="d-flex justify-content-between align-items-center w-100 ml_15">
                        <div>
                          <h4><%= meal.name %></h4>
                          <p><%= meal.notes %></p>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <% if @review.tags.present? %>
              <div class="review-tag mt-5 mb-3">
                <ul class="tags_list">
                  <% @review.tags.split(",").drop(1).each do |res_tag| %>
                    <li><%= res_tag.split.map(&:capitalize).join(' ') %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="col-lg-4" data-controller="map" data-map-latitude-value="<%= @review.latitude %>" data-map-longitude-value="<%= @review.longitude %>" data-map-getscoreurl-value="<%= review_get_score_path(@review) %>">
        <!--TODO Have to configure these platforms with apis-->
        <div class="pt_50">
          <div data-foursquareUrl="<%= @review.foursquare_url %>" data-map-target="score">
            <h3 class="pb_10">Score</h3>
            <div class="review_wrap pb_30">
              <div class="spinner-border text-secondary d-block m-auto" role="status" data-map-target="scoreLoading">
                <span class="sr-only">Loading...</span>
              </div>
              <ul>
                <li class="d-none" data-map-target="yelpScore">
                  <%= image_tag("template/Yelp.svg") %>
                  <div>
                    <p>
                      <span class="left_point" data-map-target="yelpRating">4.6</span><span class="right_point">/ 5.0</span>
                    </p>
                    <p class="totel_review" data-map-target="yelpReviews">409 reviews</p>
                  </div>
                </li>
                <li class="d-none" data-map-target="googleScore">
                  <%= image_tag("template/Google.svg") %>
                  <div>
                    <p>
                      <span class="left_point" data-map-target="googleRating">4.6</span><span class="right_point"> / 5.0</span>
                    </p>
                    <p class="totel_review" data-map-target="googleReviews">409 reviews</p>
                  </div>
                </li>
                <li class="d-none" class="" data-map-target="foursquareScore">
                  <%= image_tag("template/Foursquare.svg") %>
                  <div>
                    <p><span class="left_point" data-map-target="foursquareRating">9.0</span><span class="right_point">/ 10.0</span>
                    </p>
                    <p class="totel_review" data-map-target="foursquareReviews">2453 reviews</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <% if @review.city.present? and @review.country.present? %>
          <div>
            <h3 class="pb_10">Localization</h3>
            <div class="map_wrap">
              <span id="lat" data-latitude=<%= @review.latitude %>> </span>
              <span id="long" data-longitude=<%= @review.longitude %>> </span>
              <div id="map">
              </div>
              <div class="position-relative mt-3 pt_15 pb_15">
                <% if @review.country.present? %>
                  <h4><%= @review.country %>, <%= @review.state %></h4>
                <% end %>
                <% if @review.address.present? or @review.zip_code.present? %>
                  <p><%= @review.address + ',' if @review.address.present? %> <%= @review.zip_code if @review.zip_code.present? %></p>
                <% end %>
              </div>
              <button class="map-button bg-white" data-action="click->map#openMap">
                <%= image_tag("template/map.svg") %>
                <span> Show on map </span>
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <% if @review.author.present? %>
        <div class="pt_30">
          <h3 class="pb_10">Author</h3>
          <div class="review-author">
            <h4><%= @review.author %></h4>
            <p><%= @review.address %> <%= @review.zip_code %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</main>
