<div class="session-container">
  <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10 mx-auto">
    <div class="form-card">
      <h4 class=" text-center">Log In</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, required: true, autofocus: true, placeholder: 'Email Address', class: 'form-control mt-4' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, required: true, autocomplete: "off", placeholder: 'Password', class: 'form-control mt-4' %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "Log in", class: "btn submit-button mt-4 mb-4" %>
        </div>
      <% end %>
      <div class="text-center mt-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>