<h2>Favourite dishes</h2>
<div class="tabs_content_wrap">
  <div class="favourite_dishes_tab_wrap text-center">


    <ul class="favorite_dishes_list">
      <li>
        <%= image_tag('template/favorite_dishes1.png', class: 'main_img') %>
        <div class="d-flex justify-content-between align-items-center w-100 ml_15">
          <div>
            <h4>Meal Name 1</h4>
            <p>Meal notes...</p>
          </div>
          <a href="#">
            <%= image_tag('template/pen.png') %>
          </a>
        </div>
      </li>
      <li>
        <%= image_tag('template/favorite_dishes2.png', class: 'main_img') %>
        <div class="d-flex justify-content-between align-items-center w-100 ml_15">
          <div>
            <h4>Meal Name 2</h4>
            <p>Meal notes...</p>
          </div>
          <a href="#">
            <%= image_tag('template/pen.png') %>
          </a>
        </div>
      </li>
      <li>
        <%= image_tag('template/favorite_dishes3.png', class: 'main_img') %>
        <div class="d-flex justify-content-between align-items-center w-100 ml_15">
          <div>
            <h4>Meal Name 3</h4>
            <p>Meal notes...</p>
          </div>
          <a href="#">
            <%= image_tag('template/pen.png') %>
          </a>
        </div>
      </li>
    </ul>


    <h2>No favourites dishes yet</h2>
    <p>Add your favourite dishes</p>
    <button type="button" class="btn white"><span class="icon">+</span><span>Add Meal</span></button>
  </div>
</div>