<div>
  <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10 mt-4 mx-auto">
    <div class="form-card border-gray">
      <%= form_with(model: restaurant) do |f| %>

        <% if restaurant.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= I18n.t("errors.messages.not_saved",
                         count: restaurant.errors.count,
                         resource: restaurant.class.model_name.human.downcase)
              %>
            </h2>
            <ul>
              <% restaurant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div
          data-controller="places"
          data-action="google-maps-callback@window->places#initMap"
          data-places-latitude-value="<%= restaurant.latitude %>"
          data-places-longitude-value="<%= restaurant.longitude %>"
          data-places-place-id-value="<%= restaurant.place_id %>"
        >
          <div class="form-group mt-4">
            <label for="search">Search a location</label><br/>
            <input class="mt-2 form-control" id="search" type="text" placeholder="Search a location" autofocus
                   data-action="keydown->places#keydown"
                   data-places-target="field"/>
          </div>

          <%= f.hidden_field :place_id, data: { 'places-target': 'placeId' } %>
          <%= f.hidden_field :longitude, data: { 'places-target': 'longitude' } %>
          <%= f.hidden_field :latitude, data: { 'places-target': 'latitude' } %>

          <div class="p-4">
            <div data-places-target="map" style="height:400px;width:400px"></div>
          </div>

          <div class="form-group mt-4">
            <%= f.label "Restaurant Name" %><br/>
            <%= f.text_field :name, placeholder: 'Name', class: 'mt-2 form-control',
                             data: { 'places-target': 'name' } %>
          </div>

          <div class="form-group mt-4">
            <%= f.label "Address" %><br/>
            <%= f.text_field :address, placeholder: 'Address', class: 'mt-2 form-control',
                             data: { 'places-target': 'address' } %>
          </div>

          <div class="form-group mt-4">
            <%= f.label "City" %><br/>
            <%= f.text_field :city, placeholder: 'City', class: 'mt-2 form-control',
                             data: { 'places-target': 'city' } %>
          </div>

          <div class="form-group mt-4">
            <%= f.label "State" %><br/>
            <%= f.text_field :state, placeholder: 'State', class: 'mt-2 form-control',
                             data: { 'places-target': 'state' } %>
          </div>

          <div class="form-group mt-4">
            <%= f.label "Country" %><br/>
            <%= f.text_field :country, placeholder: 'Country', class: 'mt-2 form-control',
                             data: { 'places-target': 'country' } %>
          </div>

          <div class="form-group mt-4">
            <%= f.label "Attachments" %><br/>
            <%= f.file_field :images, class: 'mt-2 form-control', multiple: true %>
          </div>
          <div class="mt-3 d-flex flex-row flex-wrap" id="gallery">
            <% restaurant.images.each do |attachment| %>
              <div class="d-flex flex-column" id="<%= dom_id(attachment) %>">
                <a class="gallery-image" href="<%= Rails.application.routes.url_helpers.rails_blob_path(attachment) %>" target="_blank"
                   data-pswp-width="<%= attachment.metadata[:width] %>"
                   data-pswp-height="<%= attachment.metadata[:height] %>">
                  <%= image_tag attachment, class: 'attachments-img' %>
                </a>
                <%= link_to 'Remove', delete_attachment_restaurant_path(restaurant.id, attachment_id: attachment.id),
                            data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure, you want to delete?' } %>
              </div>
            <% end %>
          </div>

          <div class="form-group mt-4">
            <%= f.label "Cuisine" %><br/>
            <%= f.text_field :cuisine, placeholder: 'Cuisine', class: 'mt-2 form-control' %>
          </div>
          <div class="form-group mt-4">
            <%= f.label "Favorite Dish" %><br/>
            <%= f.text_field :favorite_dish, placeholder: 'Dish Name', class: 'mt-2 form-control' %>
          </div>
          <div class="form-group mt-4">
            <%= f.label "Score" %><br/>
            <%= f.number_field :average_score, placeholder: 'Score', class: 'mt-2 form-control', step: "0.01" %>
          </div>

          <div class="form-group mt-4">
            <%= f.label "Review Body" %><br/>
            <%= f.text_area :notes, placeholder: 'Reviews', class: 'mt-2 form-control' %>
          </div>

          <div class="form-group mt-4">
            <%= f.label "Date" %><br/>
            <%= f.date_select :date, placeholder: 'Date', class: 'mt-2 form-control' %>
          </div>

          <div class="text-center">
            <%= f.submit class: "submit-button border-0 mt-4 mb-4" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>