<div>
  <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10 mt-4 mx-auto">
    <div class="form-card border-gray">
      <%= form_for(restaurant, url: restaurants_path) do |f| %>

        <% if restaurant.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= I18n.t("errors.messages.not_saved",
                         count: restaurant.errors.count,
                         resource: restaurant.class.model_name.human.downcase)
              %>
            </h2>
            <ul>
              <% restaurant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group mt-4">
          <%= f.label "Restaurant Name" %><br/>
          <%= f.text_field :name, autofocus: true, placeholder: 'Name', class: 'mt-2 form-control' %>
        </div>
        <div class="form-group mt-4">
          <%= f.label "Country" %><br/>
          <%= f.country_select :country, { priority_countries: %w[US FR], priority_countries_divider: "~~~~~~", include_blank: 'Select a country' }, { placeholder: 'Country', class: 'mt-2 form-select' } %>
        </div>
        <div class="form-group mt-4">
          <%= f.label "City" %><br/>
          <%= f.text_field :city, placeholder: 'City', class: 'mt-2 form-control' %>
        </div>
        <div class="form-group mt-4">
          <%= f.label "Attachments" %><br/>
          <%= f.file_field :images, class: 'mt-2 form-control', multiple: true %>
        </div>
        <div class="form-group mt-4">
          <%= f.label "Cuisine" %><br/>
          <%= f.text_field :cuisine, placeholder: 'Cuisine', class: 'mt-2 form-control' %>
        </div>
        <div class="form-group mt-4">
          <%= f.label "Favorite Dish" %><br/>
          <%= f.text_field :favorite_dish, placeholder: 'Dish Name', class: 'mt-2 form-control' %>
        </div>
        <div class="form-group mt-4">
          <%= f.label "Average Score" %><br/>
          <%= f.number_field :average_score, placeholder: 'Average Score', class: 'mt-2 form-control' %>
        </div>

        <div class="form-group mt-4">
          <%= f.label "Notes" %><br/>
          <%= f.text_area :notes, placeholder: 'Notes', class: 'mt-2 form-control' %>
        </div>

        <div class="form-group mt-4">
          <%= f.label "Google Maps Link" %><br/>
          <%= f.text_field :google_maps_link, placeholder: 'Google Maps Link', class: 'mt-2 form-control' %>
        </div>

        <div class="form-group mt-4">
          <%= f.label "Date" %><br/>
          <%= f.date_select :date, placeholder: 'Date', class: 'mt-2 form-control' %>
        </div>

        <div class="text-center">
          <%= f.submit "Add Restaurant", class: "submit-button border-0 mt-4 mb-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>