<h2>Localization</h2>
<div class="tabs_content_wrap">
  <div class="tab-content">
    <!-- enterManually tab -->
        <div class="enterManually_form">
          <%= f.hidden_field :place_id, data: { 'places-target': 'placeId' } %>
          <%= f.hidden_field :longitude, data: { 'places-target': 'longitude' } %>
          <%= f.hidden_field :latitude, data: { 'places-target': 'latitude' } %>

          <div class="p-4 d-none">
            <div data-places-target="map" style="height:400px;width:400px"></div>
          </div>

          <div class="row align-items-center form_group">
            <%= f.label :country, "Country", class: "col-lg-5" %>
            <%= f.text_field :country, class: "col-lg-7", placeholder: "Enter counrty", data: { 'places-target': 'country' }, :disabled => true  %>
          </div>

          <div class="row align-items-center form_group">
            <%= f.label :state, "State", class: 'col-lg-5' %>
            <%= f.text_field :state, class: "col-lg-7", placeholder: "Enter state", data: { 'places-target': 'state' } %>
          </div>

          <div class="row align-items-center form_group">
            <%= f.label :city, "City", class: 'col-lg-5' %>
            <%= f.text_field :city, class: "col-lg-7", placeholder: "Enter city", data: { 'places-target': 'city' } %>
          </div>

          <div class="row align-items-center form_group">
            <%= f.label :address, "Address", class: 'col-lg-5' %>
            <%= f.text_field :address, class: "col-lg-7", placeholder: "Enter address", data: { 'places-target': 'address' }  %>
          </div>

          <div class="row align-items-center zipCode taxt-capitalize">
              <%= f.label :zip_code, "Zip Code", class: 'col-lg-5' %>
              <%= f.text_field :zip_code, class: "col-lg-7", placeholder: "TN 37208", data: { 'places-target': 'postCode' } %>
          </div>
        </div>


  </div>
</div>