<!-- single card -->
<div class="col-lg-3 col-md-6">
  <div class="card">
    <div class="card-header p-0 border-0 position-relative">
      <% if resturant.images.attached? %>
        <div class="owl-carousel owl-theme card_carousel">
          <% resturant.images.each do |image| %>
            <div class="item"><%= image_tag(image) %></div>
          <% end %>
        </div>
        <button class="favourite"><%= image_tag("template/favourites.png") %></button>
      <% end %>
    </div>
    <div class="card-body">
      <div class="top">
        <div>
          <%= link_to "Review", edit_restaurant_path(resturant), class: 'review_btn' %>
          <a class="add_btn" href="#"><%= image_tag("template/add.png") %></a>
        </div>
        <p class="product_rating"><%= image_tag("template/star.png") %><span><%= resturant.average_score %></span></p>
      </div>
      <h3><%= resturant.name %></h3>
      <ul class="list_group">
        <li><%= resturant.city %></li>
        <li><%= resturant.state %>, <%= resturant.country %></li>
        <li><span>$</span><span>$</span><span>$</span><span>$</span></li>
      </ul>
    </div>
  </div>
</div>