<div>
  <div class="col-xl-5 col-lg-6 col-md-7 col-sm-10 mt-4 mx-auto">
    <div class="form-card border-gray">
      <div class="d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="<%= edit_restaurant_path(@restaurant) %>" type="button" class="btn btn-outline-primary">Edit</a>
          <a href="<%= restaurant_path(@restaurant) %>" type="button" class="btn btn-outline-primary"
             data-turbo-method="delete" data-turbo-confirm="Are you sure to delete?">Delete</a>
        </div>
      </div>
      <div class="mt-2 row">
        <div class="col-4 mt-2">
          Restaurant Name
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.name %>" disabled>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-4 mt-2">
          Country
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.country %>" disabled>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-4 mt-2">
          City
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.city %>" disabled>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-4 mt-2">
          Cuisine
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.cuisine %>" disabled>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-4 mt-2">
          Favorite Dish
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.favorite_dish %>" disabled>
        </div>
      </div>
      <div class="mt-4">
        <%= label_tag "Attachments" %><br/>
        <div class="ml-20 d-flex flex-row flex-wrap" id="gallery">
          <% @restaurant.images.each do |attachment| %>
            <a href="<%= Rails.application.routes.url_helpers.rails_blob_path(attachment) %>" target="_blank"
               data-pswp-width="<%= attachment.metadata[:width] %>"
               data-pswp-height="<%= attachment.metadata[:height] %>">
              <%= image_tag attachment, class: 'attachments-imag' %>
            </a>
          <% end %>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-4 mt-2">
          Average_score
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.average_score.present? ? '%.2f' % @restaurant.average_score : 0.00 %>" disabled>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-4 mt-2">
          Notes
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.notes %>" disabled>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-4 mt-2">
          Google Map Link
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.google_maps_link %>" disabled>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-4 mt-2">
          Date
        </div>
        <div class="col-8">
          <input class="form-control w-100" value="<%= @restaurant.date %>" disabled>
        </div>
      </div>
    </div>
  </div>
</div>