<div class="manage-categories">
  <h3>
    Manage Categories
  </h3>
  <%= form_with model: @category, url: categories_path, method: 'patch' do |form| %>
    <div class="active">
      <h4 class="mt-5 mb-4">Active</h4>
      <ul class="active-list category-list" data-controller="category-reorder" data-category-reorder-url="/categories/:id/" >
        <% @categories.each do |category| %>
          <li data-id="<%= category.id %>" class="category-list-item row">
            <div class="col-1"><%= image_tag('template/dollor.svg') %></div>
            <span class="category-name col-9"><%= category.name %></span>
            <div class="col-2 mode-switch d-flex flex-row align-items-center">
              <%= form.check_box :active, id: "#{category.name}-switch", class: "switch" %>
              <label for=<%= "#{category.name}-switch" %>></label>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="active">
      <h4>Inactive</h4>
      <ul class="inactive-list category-list">
        <li class="category-list-item row">
          <div class="col-1"><%= image_tag('template/dollor.svg') %></div>
          <span class="category-name col-9">Other Category</span>
          <div class="col-2 mode-switch d-flex flex-row align-items-center">
            <%= form.check_box :shareable, id: "idd", class: "switch" %>
            <label for="idd"></label>
          </div>
        </li>
      </ul>
    </div>
    <%= form.submit "Save Changes", class: 'btn white d-block ms-auto' %>
  <% end %>
</div>