<div class="manage-categories">
  <h3>
    Manage Categories
  </h3>
  <%= form_with url: update_categories_status_path, method: :patch do |form| %>
    <div class="active">
      <h4 class="mt-5 mb-4">Active</h4>
      <ul class="active-list category-list" data-controller="category-reorder">
        <% @categories.each do |category| %>
          <% if category.active? %>
            <li data-id="<%= category.id %>" class="category-list-item row">
              <div class="col-1"><%= image_tag('template/dollor.svg') %></div>
              <span class="category-name col-9"><%= category.name %></span>
              <div class="col-2 mode-switch d-flex flex-row align-items-center">
                <%= form.check_box "categories[#{category.name}]", id: "#{category.name}-switch", class: "switch", checked: category.active %>
                <label for=<%= "#{category.name}-switch" %>></label>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="inactive">
      <h4>Inactive</h4>
      <ul class="inactive-list category-list">
        <% @categories.each do |category| %>
          <% unless category.active? %>
            <li data-id="<%= category.id %>" class="category-list-item row">
              <div class="col-1"><%= image_tag('template/dollor.svg') %></div>
              <span class="category-name col-9"><%= category.name %></span>
              <div class="col-2 mode-switch d-flex flex-row align-items-center">
                <%= form.check_box "categories[#{category.name}]", id: "#{category.name}-switch", class: "switch", checked: category.active %>
                <label for=<%= "#{category.name}-switch" %>></label>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%= form.submit "Save Changes", class: 'save-changes d-block ms-auto' %>
  <% end %>
</div>