<div class="filter-bar" data-controller="filter">
  <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
    <div class="middle-nav">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 d-flex justify-content-between align-items-center">

            <div class="col-lg-6 dropdown category-dropdown">
              <%= link_to "Categories", params[:profile].present? ? users_index_path(category_id: 'all', profile: 'true') : reviews_path(category_id: 'all'), "aria-expanded": "false", "data-bs-toggle": "dropdown", class: "nav_link #{'active' if params[:category_id] == 'all' || !params[:category_id].present?} toggler w-auto" %>
              <ul class="dropdown-menu" aria-labelledby="category-dropdown">
                <li>
                  <%= link_to "All", params[:profile].present? ? users_index_path(category_id: 'all', profile: 'true') : reviews_path(category_id: 'all'), class: "icon" %>
                </li>
                <% Category.all.each do |category| %>
                  <li>
                    <%= link_to reviews_path(category_id: category.id), class: "icon" do %>
                  <span class="icon">
                  <%= show_svg(category.icon) if category.icon.attached? %>
                    </span>
                      <%= category.name %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="col-lg-3">
              <button type="button" class="filter" data-bs-toggle="modal" data-bs-target="#filterModal">
                <%= image_tag("template/filter.svg") %>Filters<span data-filter-target="appliedFilter"></span>
              </button>
            </div>
            <div class="col-lg-2 navbar-search">
              <%#= f.text_field :search, :value => "#{params[:search]}", "type": "search", "placeholder": "Search reviews...", "data-action": "keyup->filter#search" %>
              <button>
                <%= image_tag("template/search.svg") %>
              </button>
            </div>
          </div>
          <div class="col-lg-4">
            <ul class="nav justify-content-evenly">
              <%= f.hidden_field :to_try, :value => "#{params[:to_try]}" %>
              <%= f.hidden_field :category_id, :value => "#{params[:category_id]}" %>
              <li><%= link_to 'All', reviews_path(to_try: 'all', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'new-active' if params[:to_try] == 'all'}" %></li>
              <li><%= link_to 'Reviews', reviews_path(to_try: false, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'new-active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'Wishlist', reviews_path(to_try: true, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'new-active' if params[:to_try] == 'true'}" %></li>
              <li><%= link_to 'Favorites', reviews_path(to_try: 'favourite', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'new-active' if params[:to_try] == 'favourite'}" %></li>
            </ul>
          </div>
          <div class="col-lg-4 text-end">
            <%= link_to new_review_path(category_id: params[:category_id] != 'all' ? params[:category_id] : nil), class: 'add-new-btn' do %>
              <%= image_tag("template/plus.svg") %><span> Add New</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!--filter modal-->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="height: 72px; padding: 20px 24px;">
            <h5 class="modal-title filter-h" id="filterModalLabel">Filters</h5>
            <span type="button" class="filter-close" data-bs-dismiss="modal" aria-label="Close">x</span>
          </div>
          <div class="modal-body" style="background: #FBFBFE;">
            <% if @cuisine_presence %>
              <div class="card cuisine-card-h">
                <div class="d-flex justify-content-between p-4">
                  <span class="cuisine-font cuisine-h">Cuisine</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#cuisineClearAll ">X Clear All</span>
                </div>
                <div class="tag-card-h overflow-auto">
                  <%= f.hidden_field :cuisines_filter, :value => "#{params[:cuisines_filter]}", 'data-filter-target': "cuisinesFilter" %>
                  <% cuisines.each do |cuisine| %>
                    <% if cuisine.cuisine.present? %>
                      <span class="cuisine-badge d-inline-block mb-4 cuisine-font <%= params[:cuisines_filter]&.split(',')&.index(cuisine.cuisine).present? ? 'cuisine-select clear-cuisine' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectCuisine"><%= cuisine.cuisine %></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="card mt-5">
              <div class="d-flex justify-content-between p-4">
                <span class="cuisine-font cuisine-h">Tags</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#TagClearAll">X Clear All</span>
              </div>
              <div class="tag-card-h overflow-auto">
                <%= f.hidden_field :tags_filter, :value => "#{params[:tags_filter]}", 'data-filter-target': "tagsFilter" %>
                <% tags.each do |tag| %>
                  <span class="mb-4 cuisine-badge d-inline-block cuisine-font <%= params[:tags_filter]&.split(',')&.index(tag).present? ? 'cuisine-select clear-tag' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectTag"><%= tag %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="d-flex justify-content-between w-100">
              <button type="button" class="filter-btn filter-cancel" data-bs-dismiss="modal" style=" margin-left: unset;">Cancel</button>
              <span type="button" class="filter-btn filter-apply" data-filter-target="applyBtn" data-action="click->filter#applyFilter">Apply</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>