<div class="filter-bar">
  <div class="middle-nav">
    <div class="container">
      <!--Web view-->
      <div class="row d-none d-lg-flex align-items-center">
        <div class="col-lg-4 d-flex justify-content-between align-items-center">

          <div class="col-lg-6 position-relative category-dropdown" data-controller="category">
            <%= select_tag :category_id, options_from_collection_for_select(@categories, "id", "name", :selected => params[:category_id] == "all" ? "all" : @curr_category.id), include_blank: "All", data: { "action": "change->category#categorySelect", "category-target": "category" } %>
          </div>

          <div class="col-lg-3" data-controller="filter">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
              <button type="button" class="filter" data-bs-toggle="modal" data-bs-target="#filterModal">
                <%= image_tag("template/filter.svg") %>Filters<span data-filter-target="appliedFilter"></span>
              </button>
              <!--filter modal-->
              <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header" style="height: 72px; padding: 20px 24px;">
                      <h5 class="modal-title filter-h" id="filterModalLabel">Filters</h5>
                      <span type="button" class="filter-close" data-bs-dismiss="modal" aria-label="Close">x</span>
                    </div>
                    <div class="modal-body" style="background: #FBFBFE;">
                      <% if @cuisine_presence %>
                        <div class="card cuisine-card-h">
                          <div class="d-flex justify-content-between p-4">
                            <span class="cuisine-font cuisine-h">Cuisine</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#cuisineClearAll ">X Clear All</span>
                          </div>
                          <div class="tag-card-h overflow-auto">
                            <%= f.hidden_field :cuisines_filter, :value => "#{params[:cuisines_filter]}", 'data-filter-target': "cuisinesFilter" %>
                            <% cuisines.each do |cuisine| %>
                              <% if cuisine.present? %>
                                <span class="cuisine-badge d-inline-block mb-4 cuisine-font <%= params[:cuisines_filter]&.split(',')&.index(cuisine.titleize).present? ? 'cuisine-select clear-cuisine' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectCuisine"><%= cuisine.titleize %></span>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                      <div class="card mt-5">
                        <div class="d-flex justify-content-between p-4">
                          <span class="cuisine-font cuisine-h">Tags</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#TagClearAll">X Clear All</span>
                        </div>
                        <div class="tag-card-h overflow-auto">
                          <%= f.hidden_field :tags_filter, :value => "#{params[:tags_filter]}", 'data-filter-target': "tagsFilter" %>
                          <% tags.each do |tag| %>
                            <span class="mb-4 cuisine-badge d-inline-block cuisine-font <%= params[:tags_filter]&.split(',')&.index(tag.titleize).present? ? 'cuisine-select clear-tag' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectTag"><%= tag.titleize %></span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="d-flex justify-content-between w-100">
                        <button type="button" class="filter-btn filter-cancel" data-bs-dismiss="modal" style=" margin-left: unset;">Cancel</button>
                        <span type="button" class="filter-btn filter-apply" data-filter-target="applyBtn" data-action="click->filter#applyFilter">Apply</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="position-relative col-lg-3 navbar-search" data-controller="filter">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
            <span data-action="click->filter#fieldDisplay">
                <%= image_tag("template/search.svg") %>
              </span>
              <%= f.text_field :search, :value => "#{params[:search]}", "type": "search", "placeholder": "Search reviews...", class: "d-none search-input-field", "data-filter-target": "input", "data-action": "keyup->filter#search" %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-4" data-controller="filter">
          <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
            <ul class="nav new-nav">
              <%= f.hidden_field :to_try, :value => "#{params[:to_try]}" %>
              <li><%= link_to 'All', homepage_path(to_try: 'all', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "to-try-all #{'active' if params[:to_try] == 'all' || params[:to_try].blank?}" %></li>
              <li><%= link_to 'Reviews', homepage_path(to_try: false, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'Wishlist', homepage_path(to_try: true, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'true'}" %></li>
              <li><%= link_to 'Favorites', homepage_path(to_try: 'favourite', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'favourite'}" %></li>
            </ul>
          <% end %>
        </div>
        <div class="col-lg-4 text-end">
          <%= link_to new_review_path(category_id: params[:category_id] != 'all' ? params[:category_id] : nil), class: 'add-new-btn' do %>
            <%= image_tag("template/plus.svg") %><span> Add New</span>
          <% end %>
        </div>
      </div>

      <!--mobile view-->
      <div class="row d-flex d-lg-none align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="col-lg-6 position-relative category-dropdown" data-controller="category">
            <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name", :selected => params[:category_id] == "all" ? "all" : @curr_category.id), data: { "action": "change->category#categorySelect", "category-target": "category" } %>
          </div>
          <div class="col-lg-3" data-controller="filter">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
              <button type="button" class="filter filter-mobile" data-bs-toggle="modal" data-bs-target="#filterModalSmall">
                <%= image_tag("template/filter.svg") %><span class="d-none d-sm-inline">Filters</span><span data-filter-target="appliedFilter"></span>
              </button>
              <!--filter modal-->
              <div class="modal fade" id="filterModalSmall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header" style="height: 72px; padding: 20px 24px;">
                      <h5 class="modal-title filter-h" id="filterModalLabel">Filters</h5>
                      <span type="button" class="filter-close" data-bs-dismiss="modal" aria-label="Close">x</span>
                    </div>
                    <div class="modal-body" style="background: #FBFBFE;">
                      <% if @cuisine_presence %>
                        <div class="card cuisine-card-h">
                          <div class="d-flex justify-content-between p-4">
                            <span class="cuisine-font cuisine-h">Cuisine</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#cuisineClearAll ">X Clear All</span>
                          </div>
                          <div class="tag-card-h overflow-auto">
                            <%= f.hidden_field :cuisines_filter, :value => "#{params[:cuisines_filter]}", 'data-filter-target': "cuisinesFilter" %>
                            <% cuisines.each do |cuisine| %>
                              <% if cuisine.present? %>
                                <span class="cuisine-badge d-inline-block mb-4 cuisine-font <%= params[:cuisines_filter]&.split(',')&.index(cuisine.titleize).present? ? 'cuisine-select clear-cuisine' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectCuisine"><%= cuisine.titleize %></span>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                      <div class="card mt-5">
                        <div class="d-flex justify-content-between p-4">
                          <span class="cuisine-font cuisine-h">Tags</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#TagClearAll">X Clear All</span>
                        </div>
                        <div class="tag-card-h overflow-auto">
                          <%= f.hidden_field :tags_filter, :value => "#{params[:tags_filter]}", 'data-filter-target': "tagsFilter" %>
                          <% tags.each do |tag| %>
                            <span class="mb-4 cuisine-badge d-inline-block cuisine-font <%= params[:tags_filter]&.split(',')&.index(tag.titleize).present? ? 'cuisine-select clear-tag' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectTag"><%= tag.titleize %></span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="d-flex justify-content-between w-100">
                        <button type="button" class="filter-btn filter-cancel" data-bs-dismiss="modal" style=" margin-left: unset;">Cancel</button>
                        <span type="button" class="filter-btn filter-apply" data-filter-target="applyBtn" data-action="click->filter#applyFilter">Apply</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="position-relative col-lg-3 navbar-search" data-controller="filter">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
            <span data-action="click->filter#fieldDisplay">
                <%= image_tag("template/search.svg") %>
              </span>
              <%= f.text_field :search, :value => "#{params[:search]}", "type": "search", "placeholder": "Search reviews...", class: "d-none input-mobile", "data-filter-target": "input", "data-action": "keyup->filter#search" %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-4 mt-5" data-controller="filter">
          <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
            <ul class="nav justify-content-evenly">
              <%= f.hidden_field :to_try, :value => "#{params[:to_try]}" %>
              <li><%= link_to 'All', homepage_path(to_try: 'all', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'new-active' if params[:to_try] == 'all' || params[:to_try].blank? }" %></li>
              <li><%= link_to 'Reviews', homepage_path(to_try: false, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'new-active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'Wishlist', homepage_path(to_try: true, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'new-active' if params[:to_try] == 'true'}" %></li>
              <li><%= link_to 'Favorites', homepage_path(to_try: 'favourite', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'new-active' if params[:to_try] == 'favourite'}" %></li>
            </ul>
          <% end %>
        </div>
        <div class="col-lg-4 text-end">
          <%= link_to new_review_path(category_id: params[:category_id] != 'all' ? params[:category_id] : nil), class: 'position-add-button add-new-btn' do %>
            <%= image_tag("template/plus.svg") %><span> Add New</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>