<div class="filter-bar">
  <div class="middle-nav">
    <div class="container">
      <!--Web view-->
      <div class="row align-items-center">
        <div class="col-lg-4 d-flex justify-content-between align-items-center">
          <div class="col-lg-7 col-5 category-dropdown" data-controller="category">
            <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name", selected: @curr_category.id), data: { "action": "change->category#categorySelect", "category-target": "category" } %>
          </div>
          <div class="col-lg-3 col-2" data-controller="filter">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
              <button type="button" class="new-filter-button" data-bs-toggle="modal" data-bs-target="#filterModal">
                <%= image_tag("template/filter.svg") %><span class="d-none d-sm-inline">Filters</span><span data-filter-target="appliedFilter"></span>
              </button>
              <!--filter modal-->
              <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title filter-h" id="filterModalLabel">Filters</h5>
                      <span type="button" class="filter-close" data-bs-dismiss="modal" aria-label="Close">x</span>
                    </div>
                    <div class="modal-body">
                      <% if @cuisine_presence %>
                        <div class="card cuisine-card-h">
                          <div class="d-flex justify-content-between p-4">
                            <span class="cuisine-font cuisine-h">Cuisine</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#cuisineClearAll ">X Clear All</span>
                          </div>
                          <div class="tag-card-h overflow-auto">
                            <%= f.hidden_field :cuisines_filter, :value => "#{params[:cuisines_filter]}", 'data-filter-target': "cuisinesFilter" %>
                            <% cuisines.each do |cuisine| %>
                              <% if cuisine.present? %>
                                <span class="cuisine-badge d-inline-block mb-4 cuisine-font <%= params[:cuisines_filter]&.split(',')&.index(cuisine.titleize).present? ? 'cuisine-select clear-cuisine' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectCuisine"><%= cuisine.titleize %></span>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                      <div class="card mt-5">
                        <div class="d-flex justify-content-between p-4">
                          <span class="cuisine-font cuisine-h">Tags</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#TagClearAll">X Clear All</span>
                        </div>
                        <div class="tag-card-h overflow-auto">
                          <%= f.hidden_field :tags_filter, :value => "#{params[:tags_filter]}", 'data-filter-target': "tagsFilter" %>
                          <% tags.each do |tag| %>
                            <span class="mb-4 cuisine-badge d-inline-block cuisine-font <%= params[:tags_filter]&.split(',')&.index(tag.titleize).present? ? 'cuisine-select clear-tag' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectTag"><%= tag.titleize %></span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="d-flex justify-content-between w-100">
                        <button type="button" class="filter-btn filter-cancel" data-bs-dismiss="modal">Cancel</button>
                        <span type="button" class="filter-btn filter-apply" data-filter-target="applyBtn" data-action="click->filter#applyFilter">Apply</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-lg-1 col-4 navbar-search" data-controller="filter" data-action="click->filter#fieldDisplay">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
              <%= f.text_field :search, :value => "#{params[:search]}", "type": "search", "placeholder": "Search reviews...", "data-filter-target": "input", "data-action": "keyup->filter#search" %>
            <% end %>
              <span><%= image_tag("template/search.svg") %></span>
          </div>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0" data-controller="filter">
          <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
            <ul class="nav new-nav">
              <%= f.hidden_field :to_try, :value => "#{params[:to_try]}" %>
              <li><%= link_to 'All', homepage_path(to_try: 'all', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "to-try-all #{'active' if params[:to_try] == 'all' || params[:to_try].blank?}" %></li>
              <li><%= link_to 'Reviews', homepage_path(to_try: false, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'Wishlist', homepage_path(to_try: true, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'true'}" %></li>
              <li><%= link_to 'Favorites', homepage_path(to_try: 'favourite', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'favourite'}" %></li>
            </ul>
          <% end %>
        </div>
        <div class="col-lg-4 text-end small-add-new-btn">
          <%= link_to new_review_path(category_id: params[:category_id] != 'all' ? params[:category_id] : nil), class: 'addNew' do %>
            <%= image_tag("template/plus.svg") %><span> Add New</span>
          <% end %>
        </div>
        <div class="col-lg-4 text-end large-add-new-btn">
          <%= link_to new_review_path(category_id: params[:category_id] != 'all' ? params[:category_id] : nil), class: 'add-new-btn' do %>
            <%= image_tag("template/plus.svg") %><span> Add New</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>