<div class="filter-bar">
  <div class="middle-nav">
    <div class="container">
      <!--Web view-->
      <div class="row align-items-center">
        <div class="col-lg-4 d-flex justify-content-xl-start justify-content-evenly align-items-center">
          <div class="col-lg-7 col-5 category-dropdown" data-controller="category">
            <%= select_tag :category_id, options_from_collection_for_select(@ordered_categories, "id", "name", selected: @curr_category == "all" ? "all" : @curr_category.id), data: { "action": "change->category#categorySelect", "category-target": "category" }, include_blank: "All" %>
          </div>
          <div class="d-flex justify-content-center col-lg-3 col-2" data-controller="filter">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
              <button type="button" class="new-filter-button" data-bs-toggle="modal" data-bs-target="#filterModal">
                <%= image_tag("template/filter.svg") %>
                <span class="pl_5 d-none d-sm-inline">Filters</span><span data-filter-target="appliedFilter"></span>
              </button>
              <!--filter modal-->
              <%= render 'shared/filter_modal', f: f, cuisines: cuisines, tags: tags %>
            <% end %>
          </div>
          <div class="col-lg-7 col-4 d-flex d-lg-none justify-content-end navbar-search" data-controller="filter">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
              <%= f.text_field :search, value: "#{params[:search]}", "type": "search", "placeholder": "Search reviews...", class: "search-input", "data-filter-target": "input", "data-action": "keyup->filter#search" %>
            <% end %>
            <%= image_tag("template/search.svg", class: "search-icon", "data-action": "click->filter#fieldDisplay") %>
          </div>
        </div>
        <div class="col-lg-4 mt-5 d-flex justify-content-center mt-lg-0" data-controller="filter">
          <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
            <ul class="nav homepage-nav">
              <%= f.hidden_field :to_try, value: "#{params[:to_try]}" %>
              <li><%= link_to 'All', homepage_path(to_try: 'all', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "to-try-all #{'active' if params[:to_try] == 'all' || params[:to_try].blank?}" %></li>
              <li><%= link_to 'Reviews', homepage_path(to_try: false, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'Wishlist', homepage_path(to_try: true, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'true'}" %></li>
              <li><%= link_to 'Favorites', homepage_path(to_try: 'favourite', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'active' if params[:to_try] == 'favourite'}" %></li>
            </ul>
          <% end %>
        </div>
        <div class="col-lg-4 text-end small-add-new-btn">
          <%= link_to new_review_path(category_id: params[:category_id] != 'all' ? params[:category_id] : nil), class: 'addNew' do %>
            <%= image_tag("template/plus.svg") %><span> Add New</span>
          <% end %>
        </div>

        <div class="col-lg-4 justify-content-evenly align-items-center large-add-new-btn">
          <div class="col-lg-7 col-4 d-flex justify-content-end navbar-search" data-controller="filter">
            <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
              <%= f.text_field :search, value: "#{params[:search]}", "type": "search", "placeholder": "Search reviews...", class: "search-input", "data-filter-target": "input", "data-action": "keyup->filter#search" %>
            <% end %>
            <%= image_tag("template/search.svg", class: "search-icon", "data-action": "click->filter#fieldDisplay") %>
          </div>
          <div class='col-lg-4'>
            <%= link_to new_review_path(category_id: params[:category_id] != 'all' ? params[:category_id] : nil), class: 'add-new-btn' do %>
              <%= image_tag("template/plus.svg") %><span> Add New</span>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>