<!-- single card -->
<div class="col-lg-3 col-md-6">
  <div class="card review-card">
    <div class="card-header p-0 border-0 position-relative" data-controller="favourite" data-favourite-favourite-path-value="<%= review_update_favourite_path(review) %>">
      <% if review.images.present? %>
        <%= link_to review_path((review.slug)) do %>
          <div class="owl-carousel owl-theme card_carousel">
            <% review.images[..5].each do |image| %>
              <div class="item"><%= image_tag(image) %></div>
            <% end %>
          </div>
        <% end %>
        <% if review.to_try? %>
          <span class="favourite checked"><%= image_tag("template/fill-heart.svg") %></span>
        <% end %>
      <% else %>
        <%= link_to review_path((review.slug)) do %>
          <div class="image-placeholder item"><%= image_tag("template/card-placeholder.svg") %></div>
        <% end %>
        <% if review.to_try? %>
          <span class="favourite checked"><%= image_tag("template/fill-heart.svg") %></span>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="card-body-name top">
        <h3 class="review-name"><%= review.name %></h3>
        <% if review.average_score.present? %>
          <p class="product_rating"><%= image_tag("template/star.svg") if review.average_score? %>
            <span><%= review.average_score %></span>
          </p>
        <% else %>
          <% unless review.to_try? %>
            <span class="second-view-review-btn">Review</span>
          <% end %>
        <% end %>
      </div>

      <% if review.state.present? and review.country.present? %>
        <div class="state-name"><%= review.state %>, <%= review.country %></div>
      <% else %>
        <div class="state-name"><%= review.date.strftime("%b %e, %Y") if review.date? %></div>
      <% end %>

      <div class="d-flex mt-2 align-items-center">
        <% if review.cuisine? %>
        <span class="cuisine-tag">
         <%= review.cuisine %>
        </span>
        <% end %>
        <span class="share_btn"><%= image_tag(review.shareable ? "template/add.png" : "template/lock.svg") %></span>
      </div>
    </div>
  </div>
</div>