<div class="middle_nav">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-between justify-content-lg-start">
        <form class="search">
          <input type="search" placeholder="Search reviews...">
          <button>
            <%= image_tag("template/search.png") %>
          </button>
        </form>
        <a class="filter" href="#"><%= image_tag("template/filter.png") %><span>Filters</span></a>
      </div>
      <div class="col-lg-4">
        <ul class="nav">
          <li><%= link_to 'All', reviews_path(to_try: 'all', category: params[:category]), class: "#{'active' if params[:to_try] == 'all'}" %></li>
          <li><%= link_to 'Reviews', reviews_path(to_try: false, category: params[:category]), class: "#{'active' if params[:to_try] == 'false'}" %></li>
          <li><%= link_to 'To Try', reviews_path(to_try: true, category: params[:category]), class: "#{'active' if params[:to_try] == 'true'}" %></li>
        </ul>
      </div>
      <div class="col-lg-4 d-flex justify-content-end">
        <!-- Top Rating -->
        <select class="rating_selector">
          <option value="">Top Rating</option>
          <option value="">Low Rating</option>
          <option value="">Low Rating</option>
          <option value="">Low Rating</option>
        </select>
        <!-- layout_changer -->

        <ul class="layout_changer nav nav-tabs d-none" role="tablist">
          <li>
            <a href="#grid_layout1" class="active" data-bs-toggle="tab" role="tab" aria-controls="grid_layout1" aria-selected="true">
              <%= image_tag("template/icon1.svg") %>
            </a>
          </li>
          <li>
            <a href="#list_layout1" data-bs-toggle="tab" role="tab" aria-controls="list_layout1" aria-selected="false">
              <%= image_tag("template/icon2.svg") %>
            </a>
          </li>
        </ul>
        <!-- map_enable_btn -->
        <a class="map_enable_btn d-none" href="grid-view-map-enabled.html"><%= image_tag("template/icon3.svg") %>
          <span class="text">Show Map</span><span class="switch"></span></a>
      </div>
    </div>
  </div>
</div>