<div class="review-filters" data-controller="filter">
  <%= form_with(method: :GET, local: true, data: { 'filter-target': 'filtersForm' }) do |f| %>
    <div class="middle_nav">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 d-flex justify-content-between justify-content-lg-start">
            <div class="search">
              <%= f.text_field :search, :value => "#{params[:search]}", "type": "search", "placeholder": "Search reviews...", "data-action": "keyup->filter#search" %>
              <button>
                <%= image_tag("template/search.svg") %>
              </button>
            </div>
            <button type="button" class="filter" data-bs-toggle="modal" data-bs-target="#filterModal">
              <%= image_tag("template/filter.svg") %>Filters<span data-filter-target="appliedFilter"></span>
            </button>
          </div>
          <div class="col-lg-4">
            <ul class="nav">
              <%= f.hidden_field :to_try, :value => "#{params[:to_try]}" %>
              <%= f.hidden_field :category_id, :value => "#{params[:category_id]}" %>
              <li><%= link_to 'All', reviews_path(to_try: 'all', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "to-try-all #{'middle-filter-active' if params[:to_try] == 'all' || params[:to_try].blank?}" %></li>
              <li><%= link_to 'Reviews', reviews_path(to_try: false, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'middle-filter-active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'Wishlist', reviews_path(to_try: true, category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'middle-filter-active' if params[:to_try] == 'true'}" %></li>
              <li><%= link_to 'Favorites', reviews_path(to_try: 'favourite', category_id: params[:category_id], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter], search: params[:search]), class: "#{'middle-filter-active' if params[:to_try] == 'favourite'}" %></li>
            </ul>
          </div>
          <div class="col-lg-4 d-flex justify-content-end">
            <!-- Top Rating -->
            <%= f.select(:score, [["Newest", "recent"], ["Top Rated", "desc"], ["Low Rated", "asc"]], selected: params[:score]) %>
            <ul class="layout_changer nav nav-tabs" role="tablist" id="layoutTab">
              <li class="nav-item" role="presentation">
                <a href="#gridLayout" id="gridLayout-tab" data-bs-toggle="tab" data-bs-target="#gridLayout" role="tab" aria-controls="gridLayout" aria-selected="true">
                  <%= image_tag("template/grid_view.svg") %>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a href="#listLayout" id="listLayout-tab" data-bs-toggle="tab" data-bs-target="#listLayout" role="tab" aria-controls="listLayout" aria-selected="false">
                  <%= image_tag("template/list_view.svg") %>
                </a>
              </li>
            </ul>
            <!-- map_enable_btn -->
            <span class="map-enable-btn d-none d-lg-flex">
              <%= image_tag("template/map.svg") %>
              <span class="text">Show Map</span>
                <div data-action="click->filter#showMap" class="mode-switch d-flex flex-row align-items-center">
                  <input type="checkbox" id="switch" data-filter-target="publicStatus">
                  <label for="switch"></label>
                </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--filter modal-->
    <%= render 'shared/filter_modal', f: f, cuisines: cuisines, tags: tags %>
  <% end %>
</div>