<div data-controller="filter">
  <%= form_with(method: :GET, local: true, html: { class: '' }, data: { 'filter-target': 'filtersForm' }) do |f| %>
    <div class="middle_nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex justify-content-between justify-content-lg-start">

            <div class="search">
              <input type="search" placeholder="Search reviews...">
              <button>
                <%= image_tag("template/search.png") %>
              </button>
            </div>
            <!--        <form class="search">-->
            <!--          <input type="search" placeholder="Search reviews...">-->
            <!--          <button>-->
            <%#= image_tag("template/search.png") %>
            <!--          </button>-->
            <!--        </form>-->

            <button type="button" class="filter" data-bs-toggle="modal" data-bs-target="#filterModal">
              <%= image_tag("template/filter.png") %>Filters<span data-filter-target="appliedFilter"></span>
            </button>
          </div>
          <div class="col-lg-4">
            <ul class="nav">
              <%= f.hidden_field :to_try, :value => "#{params[:to_try]}" %>
              <%= f.hidden_field :category, :value => "#{params[:category]}" %>
              <li><%= link_to 'All', reviews_path(to_try: 'all', category: params[:category], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter]), class: "#{'active' if params[:to_try] == 'all'}" %></li>
              <li><%= link_to 'Reviews', reviews_path(to_try: false, category: params[:category], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter]), class: "#{'active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'To Try', reviews_path(to_try: true, category: params[:category], score: params[:score], cuisines_filter: params[:cuisines_filter], tags_filter: params[:tags_filter]), class: "#{'active' if params[:to_try] == 'true'}" %></li>
            </ul>
          </div>
          <div class="col-lg-4 d-flex justify-content-end">
            <!-- Top Rating -->
            <%= f.select(:score, [["Top Rated", "desc"], ["Low Rated", "asc"]], selected: params[:score]) %>
            <ul class="layout_changer nav nav-tabs d-none" role="tablist">
              <li>
                <a href="#grid_layout1" class="active" data-bs-toggle="tab" role="tab" aria-controls="grid_layout1" aria-selected="true">
                  <%= image_tag("template/icon1.svg") %>
                </a>
              </li>
              <li>
                <a href="#list_layout1" data-bs-toggle="tab" role="tab" aria-controls="list_layout1" aria-selected="false">
                  <%= image_tag("template/icon2.svg") %>
                </a>
              </li>
            </ul>
            <!-- map_enable_btn -->
            <a class="map_enable_btn d-none" href="grid-view-map-enabled.html"><%= image_tag("template/icon3.svg") %>
              <span class="text">Show Map</span><span class="switch"></span></a>
          </div>
        </div>
      </div>
    </div>

    <!--filter modal-->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="height: 72px; padding: 20px 24px;">
            <h5 class="modal-title filter-h" id="filterModalLabel">Filters</h5>
            <span type="button" class="filter-close" data-bs-dismiss="modal" aria-label="Close">x</span>
          </div>
          <div class="modal-body" style="background: #FBFBFE;">
            <% if params[:category] == 'Restaurants' %>
              <div class="card cuisine-card-h">
                <div class="d-flex justify-content-between p-4">
                  <span class="cuisine-font cuisine-h">Cuisine</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#cuisineClearAll ">X Clear All</span>
                </div>
                <div class="tag-card-h ">
                  <%= f.hidden_field :cuisines_filter, :value => "#{params[:cuisines_filter]}", 'data-filter-target': "cuisinesFilter" %>
                  <% cuisines.each do |cuisine| %>
                    <% if cuisine.cuisine.present? %>
                      <span class="cuisine-badge d-inline-block mb-4 cuisine-font <%= params[:cuisines_filter]&.split(',')&.index(cuisine.cuisine).present? ? 'cuisine-select clear-cuisine' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectCuisine"><%= cuisine.cuisine %></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="card mt-5">
              <div class="d-flex justify-content-between p-4">
                <span class="cuisine-font cuisine-h">Tags</span><span class="cuisine-font cuisine-clear cursor-pointer" data-action="click->filter#TagClearAll">X Clear All</span>
              </div>
              <div class="tag-card-h ">
                <%= f.hidden_field :tags_filter, :value => "#{params[:tags_filter]}", 'data-filter-target': "tagsFilter" %>
                <% tags.each do |tag| %>
                  <span class="mb-4 cuisine-badge d-inline-block cuisine-font <%= params[:tags_filter]&.split(',')&.index(tag).present? ? 'cuisine-select clear-tag' : 'cuisine-unselect' %> cursor-pointer" data-action="click->filter#selectTag"><%= tag %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="d-flex justify-content-between w-100">
              <button type="button" class="filter-btn filter-cancel" data-bs-dismiss="modal" style=" margin-left: unset;">Cancel</button>
              <span type="button" class="filter-btn filter-apply" data-filter-target="applyBtn" data-action="click->filter#applyFilter">Apply</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>