<!-- single card -->
<div class="col-lg-3 col-md-6 card-load" data-map-view-target="gridReviewCard" data-controller="review-card-item" data-action="mouseenter->review-card-item#mouseEnter mouseleave->review-card-item#mouseLeave" data-review-card-item-name-value="<%= review.name %>" data-review-card-item-latitude-value="<%= review.latitude %>" data-review-card-item-longitude-value="<%= review.longitude %>">
  <div class="card review-card">
    <div class="card-header p-0 border-0 position-relative" data-controller="favourite" data-favourite-liked-path-value="<%= review_update_favourite_path(review) %>">
      <%= link_to review_path(review.slug) do %>
        <span data-action="click->favourite#updateFavourite" class="favourite <%= 'checked' if review.favourite == true %>"><%= image_tag(review.favourite ? "template/fill-heart.svg" : "template/empty-heart.svg") %></span>
        <% if review.images.present? %>
          <div class="owl-carousel owl-theme card_carousel">
            <% review.images[..5].each do |image| %>
              <div class="item"><%= image_tag(image) %></div>
            <% end %>
          </div>
        <% else %>
          <div class="image-placeholder item"><%= image_tag("template/card-placeholder.svg") %></div>
        <% end %>
      <% end %>
      <span data-action="click->favourite#updateFavourite" class="favourite <%= 'checked' if review.favourite == true %>"><%= image_tag(review.favourite ? "template/fill-heart.svg" : "template/empty-heart.svg") %></span>
    </div>
    <div class="card-body">
      <div class="top">
        <div>
          <span class='review_btn'><%= review.to_try ? "Wishlist" : "Review" %> </span>
          <span class="share_btn"><%= image_tag(review.shareable ? "template/add.png" : "template/lock.svg") %></span>
        </div>
        <p class="product_rating"><%= image_tag("template/star.svg") if review.average_score? %>
          <span><%= review.average_score %></span></p>
      </div>
      <h3><%= review.name %></h3>
      <ul class="list_group">
        <% if review.city.present? %>
          <li><%= review.city %></li>
        <% end %>
        <% if review.state.present? and review.country.present? %>
          <li><%= "#{review.state}, #{ review.country}"%></li>
        <% end %>
        <% if !review.city.present? and !review.country.present? and review.date? %>
          <li>
            <%= review.date.strftime("%b %e, %Y") %>
          </li>
        <% end %>
        <li class="ml-1">
          <% for count in 1..4 %>
            <span class="price-sz pe-none <%= ('text-white bg-price' if review.price_range >= count) if review.price_range.present? %>">$</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
