<div class="row align-items-end pb_50">
  <div class="col-lg-6">
    <div class="public_review" data-controller="favourite" data-favourite-status-path-value="<%= review_update_status_path(review) %>">
      <div class="mode-switch d-flex flex-row align-items-center">
        <input type="checkbox" id="switch" <%= 'checked' if review.shareable? %> data-favourite-target="publicStatus">
        <label for="switch" data-action="click->favourite#updateReviewStatus"></label>
      </div>
      <%= image_tag("template/users.svg", class: 'mr_5') %>
      <span>Public REVIEW</span>
    </div>
    <%= render "shared/show_header_title", review: review %>
  </div>
  <div class="col-lg-6 text-end d-none d-lg-block">
    <div class="d-flex align-items-center justify-content-end avatar">
      <div>
        <p class="reviewer">Reviewer</p>
        <p class="name"><%= current_user.first_name %></p>
      </div>
      <span class="show-user-img">
         <%= image_tag(review_user.avatar.attached? ? review_user.avatar : "template/avatar_placeholder.jpg") %>
      </span>
    </div>
    <div class="d-flex align-items-center justify-content-end rating_box" data-controller="favourite" data-favourite-favourite-path-value="<%= review_update_favourite_path(review) %>">
      <span data-action="click->favourite#updateFavourite" data-fill-heart-icon="<%= asset_path("template/fill-heart.svg") %>" data-empty-heart-icon="<%= asset_path("template/empty-heart.svg") %>" class=<%= "#{'checked' if review.favourite} #{ 'm-0' if review.average_score.blank?}" %>>
        <% unless current_user.second_view? %>
          <%= image_tag(review.favourite ? "template/fill-heart.svg" : "template/empty-heart.svg" ) %>
          <span class="faveroit <%= review.favourite ? "" : 'text-black-50' %>">Save as Favorite</span>
        <% end %>
      </span>
      <% if review.average_score.present? %>
        <p class="rating">
          <%= image_tag("template/star.svg") %><span><%= review.average_score %></span></p>
      <% end %>
    </div>
    <div class="review-url d-flex justify-content-end mb-4">
      <%= link_to @review.url.truncate(32, separator: ' '), @review.url, class: "review-link", target: '_blank' if @review.url.present? %>
    </div>
    <div>
      <button class="btn white <%= 'text-black-50 border-secondary' if review.shareable != true %>" <%= 'disabled' if review.shareable != true %> type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareModal" data-action="click->guest#addLinkField">
        <%= image_tag("template/share.svg") %>Share
      </button>
      <%= link_to edit_review_path(review), class: 'btn' do %>
        <%= image_tag("template/edit-fill.svg") %><span>Edit</span>
      <% end %>
    </div>
  </div>
  <!-- for mobile -->
  <div class="col-12 d-lg-none">
    <div class="d-flex justify-content-between align-items-center pt_30">
      <div class="d-flex align-items-center avatar">
        <span class="show-user-img">
        <%= image_tag(review_user.avatar.attached? ? review_user.avatar : "template/avatar_placeholder.jpg") %>
        </span>
        <div class="pl_10">
          <p class="reviewer">Reviewer</p>
          <p class="name"><%= current_user.first_name %></p>
        </div>
      </div>
      <div class="rating_box">
        <% if review.average_score.present? %>
          <p class="rating"><%= image_tag("template/star.svg") %>
            <span><%= review.average_score %></span></p>
        <% end %>
      </div>
    </div>
    <div class="review-url d-flex justify-content-end mb-4">
      <%= link_to @review.url.truncate(32, separator: ' '), @review.url, class: "review-link", target: '_blank' if @review.url.present? %>
    </div>
    <div class="d-flex justify-content-between pt_30">
      <button class="btn white <%= 'text-black-50 border-secondary' if review.shareable != true %>" <%= 'disabled' if review.shareable != true %> type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareModal" data-action="click->guest#addLinkField">
        <%= image_tag("template/share.svg") %>Share
      </button>
      <%= link_to edit_review_path(review), class: 'btn' do %>
        <%= image_tag("template/edit-fill.svg") %><span>Edit</span>
      <% end %>
    </div>
  </div>
  <!-- mobile end-->
  <%= render "shared/share_modal" %>
</div>