<div class="row align-items-end pb_50">
  <div class="col-lg-6">
    <div class="public_review">
      <div class="mode-switch d-flex flex-row align-items-center">
        <input type="checkbox" id="switch" <%= 'checked' if review.shareable == true %>/>
        <label for="switch"></label>
      </div>
      <%= image_tag("template/users.svg", class: 'mr_5') %>
      <span>Public REVIEW</span>
    </div>
    <%= render "shared/show_header_title", review: review %>
  </div>
  <div class="col-lg-6 text-end d-none d-lg-block">
    <div class="d-flex align-items-center justify-content-end avatar">
      <div>
        <p class="reviewer">Reviewer</p>
        <p class="name"><%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <span class="show-user-img">
         <%= image_tag(review_user.avatar.attached? ? review_user.avatar : "template/avatarplaceholder.jpg") %>
      </span>
    </div>
    <div class="d-flex align-items-center justify-content-end rating_box" data-controller="favourite" data-favourite-favourite-path-value="<%= review_update_favourite_path(review) %>">
      <%= link_to nil, data: { action: "click->favourite#updateFavourite", "favourite-target": "favoriteLink" }, class: "#{'checked' if review.favourite} #{ 'm-0' if review.average_score.blank?}" do %>
        <%= image_tag(review.favourite ? "template/fill-heart.svg" : "template/empty-heart.svg") %>
        <span class=<%= review.favourite ? "" : "text-black-50" %>>Save as Favorite</span>
      <% end %>
      <% if review.average_score.present? %>
        <p class="rating">
          <%= image_tag("template/star.svg") %><span><%= review.average_score %></span></p>
      <% end %>
    </div>
    <div>
      <button class="btn white <%= 'text-black-50 border-secondary' if review.shareable != true %>" <%= 'disabled' if review.shareable != true %> data-action="click->guest#copyLink">
        <%= image_tag("template/share.svg") %>Share
      </button>
      <%= link_to edit_review_path(review), class: 'btn' do %>
        <%= image_tag("template/edit-fill.svg") %><span>Edit</span>
      <% end %>
    </div>
  </div>
  <!-- for mobile -->
  <div class="col-12 d-lg-none">
    <div class="d-flex justify-content-between align-items-center pt_30">
      <div class="d-flex align-items-center avatar">
        <span class="show-user-img">
        <%= image_tag(review_user.avatar.attached? ? review_user.avatar : "template/avatarplaceholder.jpg") %>
        </span>
        <div class="pl_10">
          <p class="reviewer">Reviewer</p>
          <p class="name"><%= current_user.first_name %></p>
        </div>
      </div>
      <div class="rating_box">
        <% if review.average_score.present? %>
          <p class="rating"><%= image_tag("template/star.svg") %>
            <span><%= review.average_score %></span></p>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-between pt_30">
      <button class="btn white <%= 'text-black-50 border-secondary' if review.shareable != true %>" <%= 'disabled' if review.shareable != true %> data-action="click->guest#copyLink">
        <%= image_tag("template/share.svg") %>Share
      </button>
      <%= link_to edit_review_path(review), class: 'btn' do %>
        <%= image_tag("template/edit-fill.svg") %><span>Edit</span>
      <% end %>
    </div>
  </div>
  <!-- mobile end-->
</div>