<div class="row align-items-end pb_50" data-controller="guest">
  <div class="col-lg-6">
    <div class="public_review">
      <div class="mode-switch d-flex flex-row align-items-center">
        <input type="checkbox" id="switch" <%= 'checked' if @review.shareable == true %>/>
        <label for="switch"></label>
      </div>
      <%= image_tag("template/users.svg", class: 'mr_5') %>
      <span>Public REVIEW</span>
    </div>
    <h1><%= @review.name %></h1>
    <% if @review.date? %>
      <p class="date">
        <%= @review.date.strftime("%b/%e/%Y") %>
      </p>
    <% end %>
    <ul class="list_group">
      <% if @review.city.present? %>
        <li><%= @review.city %></li>
      <% end %>
      <% if @review.state.present? and @review.country.present? %>
        <li><%= @review.state + ', ' %> <%= @review.country %></li>
      <% end %>
      <li>
        <span>$</span>
        <span>$</span>
        <span>$</span>
        <span>$</span>
      </li>
    </ul>
  </div>
  <div class="col-lg-6 text-end d-none d-lg-block">
    <div class="d-flex align-items-center justify-content-end avatar">
      <div>
        <p class="reviewer">Reviewer</p>
        <p class="name"><%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <% if User.find_by(id: @review.user_id).avatar.attached? %>
        <%= image_tag(User.find_by(id: @review.user_id).avatar, class: 'rounded-circle h-auto') %>
      <% else %>
        <%= image_tag("template/avatarplaceholder.jpg", class: 'rounded-circle h-auto') %>
      <% end %>
    </div>
    <div class="d-flex align-items-center justify-content-end rating_box" data-controller="favourite" data-favourite-favourite-path-value="<%= review_update_favourite_path(@review) %>">
      <a href="#" data-action="click->favourite#updateFavourite" class="<%= 'checked' if @review.favourite == true %>">
        <%= image_tag("template/favourites1.svg") %>
        <span>Save as Favourite</span></a>
      <p class="rating">
        <%= image_tag("template/star.svg") %><span><%= @review.average_score %></span></p>
    </div>
    <div>
      <button class="btn white <%= 'text-black-50 border-secondary' if @review.shareable != true %>" <%= 'disabled' if @review.shareable != true %> data-action="click->guest#copyLink">
        <%= image_tag("template/share.svg") %>Share
      </button>
      <%= link_to edit_review_path(@review), class: 'btn' do %>
        <%= image_tag("template/edit-fill.svg") %><span>Edit</span>
      <% end %>
    </div>
  </div>

  <!-- for mobile -->
  <div class="col-12 d-lg-none">
    <div class="d-flex justify-content-between align-items-center pt_30">
      <div class="d-flex align-items-center avatar">
        <% if User.find_by(id: @review.user_id).avatar.attached? %>
          <%= image_tag(User.find_by(id: @review.user_id).avatar, class: 'rounded-circle h-auto') %>
        <% else %>
          <%= image_tag("template/avatarplaceholder.jpg", class: 'rounded-circle h-auto') %>
        <% end %>
        <div class="pl_10">
          <p class="reviewer">Reviewer</p>
          <p class="name"><%= @review.name %></p>
        </div>
      </div>
      <div class="rating_box">
        <p class="rating"><%= image_tag("template/star.svg") %>
          <span><%= @review.average_score %></span></p>
      </div>
    </div>
    <div class="d-flex justify-content-between pt_30">
      <button class="btn white" data-action="click->guest#copyLink"><%= image_tag("template/share.svg") %>Share</button>
      <%= link_to edit_review_path(@review), class: 'btn' do %>
        <%= image_tag("template/edit-fill.svg") %><span>Edit</span>
      <% end %>
    </div>
  </div>
  <!-- mobile end-->
</div>
