<div class="row align-items-end pb_50">
  <div class="col-lg-6">
    <div class="public_review">
      <div class="mode-switch d-flex flex-row align-items-center">
        <input type="checkbox" id="switch" <%= 'checked' if @review.shareable == true %>/>
        <label for="switch"></label>
      </div>
      <%= image_tag("template/users.svg", class: 'mr_5') %>
      <span>Public REVIEW</span>
    </div>
    <h1><%= @review.name %></h1>
    <% if @review.cuisine.present? %>
      <span class="show-subcategory"><%= @review.cuisine %></span>
    <% end %>
    <% if @review.state.present? && @review.country.present? || @review.cuisine.present? && @review.date.present? %>
      .
    <% end %>
    <% if @review.state.present? && @review.country.present? %>
      <span class="review-show-detail"><%= "#{@review.state}, #{@review.country}" %></span>
    <% end %>
    <% if @review.state.present? && @review.country.present? && @review.date.present? %>
      .
    <% end %>
    <% if @review.date.present? %>
      <span class="review-show-detail"><%= @review.date.strftime("%b %e, %Y") %></span>
    <% end %>
    <% if @review.price_range.present? %>
      <span class="d-block d-lg-inline-block">
        <% for count in 1..4 %>
          <span class="price-sz pe-none show-price <%= ('text-white bg-price' if @review.price_range >= count) %>">$</span>
        <% end %>
      </span>
    <% end %>
  </div>
  <div class="col-lg-6 text-end d-none d-lg-block">
    <div class="d-flex align-items-center justify-content-end avatar">
      <div>
        <p class="reviewer">Reviewer</p>
        <p class="name"><%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <span class="show-user-img">
         <%= image_tag(review_user.avatar.attached? ? review_user.avatar : "template/avatarplaceholder.jpg") %>
      </span>
    </div>
    <div class="d-flex align-items-center justify-content-end rating_box" data-controller="favourite" data-favourite-favourite-path-value="<%= review_update_favourite_path(@review) %>">
      <%= link_to nil, data: { action: "click->favourite#updateFavourite", "favourite-target": "favoriteLink" }, class: "#{'checked' if @review.favourite} #{ 'm-0' if @review.average_score.blank?}" do %>
        <%= image_tag(@review.favourite ? "template/fill-heart.svg" : "template/heart.svg") %>
        <span class=<%= @review.favourite ? "" : "text-black-50" %>>Save as Favorite</span>
      <% end %>
      <% if @review.average_score.present? %>
        <p class="rating">
          <%= image_tag("template/star.svg") %><span><%= @review.average_score %></span></p>
      <% end %>
    </div>
    <div>
      <button class="btn white <%= 'text-black-50 border-secondary' if @review.shareable != true %>" <%= 'disabled' if @review.shareable != true %> type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareModal" data-action="click->guest#addLinkField">
        <%= image_tag("template/share.svg") %>Share
      </button>

      <%= link_to edit_review_path(@review), class: 'btn' do %>
        <%= image_tag("template/edit-fill.svg") %><span>Edit</span>
      <% end %>
    </div>
  </div>

  <!-- for mobile -->
  <div class="col-12 d-lg-none">
    <div class="d-flex justify-content-between align-items-center pt_30">
      <div class="d-flex align-items-center avatar">
        <span class="show-user-img">
        <%= image_tag(review_user.avatar.attached? ? review_user.avatar : "template/avatarplaceholder.jpg") %>
        </span>
        <div class="pl_10">
          <p class="reviewer">Reviewer</p>
          <p class="name"><%= current_user.first_name %></p>
        </div>
      </div>
      <div class="rating_box">
        <% if @review.average_score.present? %>
          <p class="rating"><%= image_tag("template/star.svg") %>
            <span><%= @review.average_score %></span></p>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-between pt_30">
      <button class="btn white <%= 'text-black-50 border-secondary' if @review.shareable != true %>" <%= 'disabled' if @review.shareable != true %> type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareModal" data-action="click->guest#addLinkField">
        <%= image_tag("template/share.svg") %>Share
      </button>
      <%= link_to edit_review_path(@review), class: 'btn' do %>
        <%= image_tag("template/edit-fill.svg") %><span>Edit</span>
      <% end %>
    </div>
  </div>
  <!-- mobile end-->

  <!--Share Modal-->
  <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Share this review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="share"></div>
        </div>
        <div class="modal-footer justify-content-center">
          <p class="link-field col-lg-7 col-12" data-guest-target="urlField"> hello </p>
          <button type="button" class="col-lg-4 col-12 btn white" data-action="click->guest#copyLink">Copy Link</button>
        </div>
      </div>
    </div>
  </div>
</div>
