<h2>Description</h2>
<div class="tabs_content_wrap">

  <% if @curr_category.google_places? %>
    <div class="form_group row align-items-center">
      <label for="search">Location</label>

      <input id="search" type="text" placeholder="Search location" autofocus
             data-action="keydown->places#keydown"
             data-places-target="field"/>
    </div>
  <% end %>

  <div class="row align-items-center form_group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, placeholder: "Enter Name", type: "text", id: "search", 'data-places-target': "name" %>
  </div>

    <div class="row cuisine-group align-items-center form_group" data-controller="tags">
      <%= f.label :cuisine, curr_category.sub_category_title.titleize %>
      <%= f.select :cuisine, options_for_select(SubCategory.where(category_id: curr_category.id).pluck(:name), selected:@review.cuisine), { include_blank: false } %>
    </div>


  <div class="row align-items-center form_group">
    <%= f.label :date, "Date" %>
    <%= f.date_field :date %>
  </div>

  <% if @curr_category.price? %>
    <div class="form_group align-items-center row">
      <%= f.label "Score" %>
      <%= f.number_field :average_score, placeholder: 'Score', step: "0.01", max: "10", min: "0" %>
    </div>

    <div class="row form_group">
      <%= f.label :price_range, 'Price', class: 'indent' %>
      <div class="align-items-center rating d-flex p-0" data-controller="dollar-price-range">
        <% for count in 1..4 %>
          <span data-action="click->dollar-price-range#priceRange" data-dollar-price-range-target="dollar" class="radio-button"><%= f.radio_button :price_range, count, class: "#{ 'bg-blue' if review.price_range.present? && review.price_range > count }" %></span>
        <% end %>
        <span class="price-range-text"> Select price range</span>
      </div>
    </div>
  <% end %>
  <div class="row form_group">
    <%= f.label :notes, "Description" %>
    <%= f.text_area :notes, placeholder: "Write your notes...", type: "text", cols: '60', rows: '5' %>
  </div>
</div>