<% more_review_fields = [ "author", "platform", "url", "google_url", "foursquare_url", "yelp_url" ] %>
<h2>Description</h2>
<div class="tabs_content_wrap">

  <% if @curr_category.google_places? %>
    <div class="form_group row align-items-center">
      <label for="search">Location</label>

      <input id="search" type="text" placeholder="Search location" autofocus
             data-action="keydown->places#keydown"
             data-places-target="field"/>
    </div>
  <% end %>

  <div class="row align-items-center form_group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, placeholder: "Enter Name", type: "text", id: "search", 'data-places-target': "name" %>
  </div>

  <% if curr_category.sub_category_title.present? %>
    <div class="row cuisine-group align-items-center form_group" data-controller="tags">
      <%= f.label :cuisine, curr_category.sub_category_title.titleize %>
      <%= f.select :cuisine, options_for_select(SubCategory.where(category_id: curr_category.id).pluck(:name), selected: @review.cuisine), { include_blank: true } %>
    </div>
  <% end %>

  <div class="row align-items-center form_group">
    <%= f.label :date, "Date" %>
    <%= f.date_field :date %>
  </div>

  <% if @curr_category.start_date %>
    <div class="row align-items-center form_group">
      <%= f.label :date, "Start Date" %>
      <%= f.date_field :start_date %>
    </div>
  <% end %>

  <% if @curr_category.end_date %>
    <div class="row align-items-center form_group">
      <%= f.label :date, "End Date" %>
      <%= f.date_field :end_date %>
    </div>
  <% end %>

  <% more_review_fields.each do |field| %>
    <% if @curr_category.send(field) %>
      <div class="form_group align-items-center row">
        <label><%= field.titleize %></label>
        <%= f.text_field field, placeholder: field.titleize, step: "0.01", max: "10", min: "0" %>
      </div>
    <% end %>
  <% end %>

  <div class="form_group align-items-center row">
    <%= f.label "Score" %>
    <%= f.number_field :average_score, class: 'col-lg-4', step: "0.01", max: "10", min: "0" %>
    <span class="score-text col-lg-2"> /10</span>
  </div>

  <% if @curr_category.price? %>
    <div class="row form_group">
      <%= f.label :price_range, 'Price', class: 'indent' %>
      <div class="align-items-center rating d-flex p-0" data-controller="dollar-price-range">
        <% for count in 1..4 %>
          <span data-action="click->dollar-price-range#priceRange" data-dollar-price-range-target="dollar" class="radio-button"><%= f.radio_button :price_range, count, class: "#{ 'bg-blue' if review.price_range.present? && review.price_range > count }" %></span>
        <% end %>
        <span class="price-range-text"> Select price range</span>
      </div>
    </div>
  <% end %>
  <div class="row form_group">
    <%= f.label :notes, "Description" %>
    <%= f.ckeditor :notes, placeholder: "Write your reviews...", type: "text", rows: '5', class: "w-100" %>
  </div>
</div>