<!-- single card -->
<div class="col-lg-3 col-md-6">
  <div class="card">
    <div class="card-header p-0 border-0 position-relative" data-controller="favourite" data-favourite-favourite-path-value="<%= review_update_favourite_path(review) %>">
      <% if review.images.present? %>
        <%= link_to review_path(review) do %>
          <div class="owl-carousel owl-theme card_carousel">
            <% review.images.each do |image| %>
              <div class="item"><%= image_tag(image) %></div>
            <% end %>
          </div>
        <% end %>
        <button data-action="click->favourite#updateFavourite" class="favourite <%= 'checked' if review.favourite == true %>"><%= image_tag("template/favourites.png") %></button>
      <% else %>
        <%= link_to review_path(review) do %>
          <div class="image-placeholder item"><%= image_tag("template/placeholder-image.webp") %></div>
        <% end %>
        <button data-action="click->favourite#updateFavourite" class="favourite <%= 'checked' if review.favourite == true %>"><%= image_tag("template/favourites.png") %></button>
      <% end %>
    </div>
    <div class="card-body">
      <div class="top">
        <div>
          <span class='<%= review.to_try? ? 'wishlist-btn' : 'review_btn' %>'><%= review.to_try? ? "Wishlist" : "Review" %> </span>
          <span class="share_btn"><%= review.shareable ? image_tag("template/add.png") : image_tag("template/lock.svg") %></span>
        </div>
        <p class="product_rating"><%= image_tag("template/star.svg") if review.average_score? %>
          <span><%= review.average_score %></span></p>
      </div>
      <h3><%= review.name %></h3>
      <ul class="list_group">
        <% if review.city.present? %>
          <li><%= review.city %></li>
        <% end %>
        <% if review.state.present? and review.country.present? %>
          <li><%= review.state %> <%= ',' + review.country %></li>
        <% end %>
        <% if !review.city.present? and !review.country.present? and review.date? %>
          <li>
            <%= review.date.strftime("%b %e,%Y") %>
          </li>
        <% end %>
        <li class="ml-1">
          <% for count in 1..5 %>
            <span class="price-sz fs-5 pe-none <%= ('text-white bg-price' if review.price_range >= count) if review.price_range.present? %>">$</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>