<!-- single card -->
<div class="col-lg-3 col-md-6">
  <div class="card">
    <%= link_to review_path(review) do %>
      <div class="card-header p-0 border-0 position-relative">
        <% if review.images.present? %>
          <div class="owl-carousel owl-theme card_carousel">
            <% review.images.each do |image| %>
              <div class="item"><%= image_tag(image) %></div>
            <% end %>
          </div>
          <button class="favourite"><%= image_tag("template/favourites.png") %></button>
        <% else %>
          <div class="image-placeholder item"><%= image_tag("template/placeholder-image.webp") %></div>
        <% end %>
      </div>
    <% end %>
    <div class="card-body">
      <div class="top">
        <div>
          <%= link_to "Review", review_path(review), class: 'review_btn' %>
          <a class="share_btn" href="#"><%= review.shareable ? image_tag("template/add.png") : image_tag("template/lock.svg") %></a>
        </div>
        <p class="product_rating"><%= image_tag("template/star.png") if review.average_score? %>
          <span><%= review.average_score %></span></p>
      </div>
      <h3><%= review.name %></h3>
      <ul class="list_group">
        <li><%= review.city %></li>
        <li><%= review.state %>, <%= review.country %></li>
        <li class="ml-1"><span>$</span><span>$</span><span>$</span><span>$</span></li>
      </ul>
    </div>
  </div>
</div>