<main class="position-relative">
  <a class="back" href="javascript:history.back()"><%= image_tag("template/left-arrow.png") %></a>
  <div class="add_review_area pt_30">
    <!-- page header start-->
    <div class="add_review_area_header sticky-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h2 class="title">Add Review</h2>

            <!-- add review nav start -->
            <ul class="nav nav-pills" id="add-restaurant-review-nav">
              <li class="nav-item">
                <a href="#review_area" class="nav-link active">Review</a>
              </li>

              <li class="nav-item">
                <a href="#photo_area" class="nav-link">Photos</a>
              </li>

              <% if @curr_category.address? %>
                <li class="nav-item">
                  <a href="#localization_area" class="nav-link">Localization</a>
                </li>
              <% end %>
              <li class="nav-item">
                <a href="#tags_area" class="nav-link">Tags</a>
              </li>
              <% if @curr_category.address? %>
                <li class="nav-item">
                  <a href="#favourite_dishes_area" class="nav-link">Highlights</a>
                </li>
              <% end %>
            </ul>
            <!-- add review nav end -->
          </div>
        </div>
      </div>
    </div>
    <!-- page header end-->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <%= form_for @review do |form| %>
            <div data-controller="places"
                 data-action="google-maps-callback@window->places#initMap" data-places-country-value='["us"]'
                 data-places-latitude-value="<%= @review.latitude %>"
                 data-places-longitude-value="<%= @review.longitude %>"
                 data-places-place-id-value="<%= @review.place_id %>">

              <!-- category area -->
              <div class="category_area pt_30" id="category_area">
                <div class="row">
                  <div class="col-lg-12">
                    <%= render 'category', review: @review, f: form %>
                  </div>
                </div>
              </div>

              <!-- category area -->
              <div class="category_area pt_30" id="category_area">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="category_content_wrap">
                      <div data-controller="category" class="form_group row align-items-center">
                        <label for="search" class="col-lg-5">Wishlist</label>
                        <%= form.select :to_try, [["False", false], ["True", true]], { include_blank: false }, class: 'col-lg-7' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- review area start -->
              <div class="review_area" id="review_area">
                <%= render 'review', review: @review, f: form %>
              </div>

              <!-- photo area start -->
              <div class="photo_area pt_30" id="photo_area">
                <%= render 'photos', review: @review, f: form %>
              </div>

              <!-- localization area start -->
              <% if @curr_category.address? %>
                <div class="localization_area pt_30" id="localization_area">
                  <%= render 'localization', review: @review, f: form %>
                </div>
              <% end %>

              <!-- tags area start -->
              <div class="tags_area pt_30" id="tags_area">
                <%= render 'tags', review: @review, f: form %>
              </div>
              <% if @curr_category.cuisine? %>
                <div class="favourite_dishes_area pt_30" id="favourite_dishes_area">
                  <%= render 'favourite_dishes', review: @review, f: form %>
                </div>
              <% end %>
              <div class="row pt_50 align-items-center">
                <div class="col-3 col-sm-4">
                  <a class="btn white cancel" href="#">Cancel</a>

                  <% if form.object.persisted? %>
                    <button type="button" class="btn delete" data-bs-toggle="modal" data-bs-target="#deleteModal">
                      Delete
                    </button>

                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content rounded-20">
                          <div class="modal-body bg-white rounded-20">
                            <div class="d-flex justify-content-center align-items-center p-19 logout-heading">
                              Delete Review
                            </div>
                            <div class="d-flex justify-content-center align-items-center mb-5">
                              Are you sure you want to delete review?
                            </div>
                            <div class="d-flex justify-content-evenly pb-5 flex-wrap">
                              <button type="button" class="modal-cancel btn-modal d-flex justify-content-center align-items-center" data-bs-dismiss="modal">Cancel</button>
                              <%= link_to "Delete", review_path(@review), data: { turbo_method: :delete }, class: "delete-account btn-modal d-flex justify-content-center align-items-center" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="col-9 col-sm-8 d-flex justify-content-end">
                  <div class="public_review">
                    <div class="mode-switch d-flex flex-row align-items-center">
                      <%= form.check_box :shareable, id: 'switch' %>
                      <label for="switch"></label>
                    </div>
                    <%= image_tag('template/icon4.png', class: 'mr_5') %>
                    <span>Public REVIEW</span>
                  </div>
                  <%= form.submit form.object.new_record? ? "Add Review" : "Update Review", class: 'btn white add_review ml_25' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>