<div data-controller="filter">
  <%= form_with(method: :GET, local: true, html: { class: '' }, data: { 'filter-target': 'filtersForm' }) do |f| %>
    <div class="middle_nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <ul class="nav">
              <%= f.hidden_field :to_try, :value => "#{params[:to_try]}" %>
              <%= f.hidden_field :category, :value => "#{params[:category]}" %>
              <li><%= link_to 'All', profile_index_path(to_try: 'all', category: params[:category], score: params[:score], profile: 'true'), class: "#{'active' if params[:to_try] == 'all'}" %></li>
              <li><%= link_to 'Reviews', profile_index_path(to_try: false, category: params[:category], score: params[:score], profile: 'true'), class: "#{'active' if params[:to_try] == 'false'}" %></li>
              <li><%= link_to 'Wish List', profile_index_path(to_try: true, category: params[:category], score: params[:score], profile: 'true'), class: "#{'active' if params[:to_try] == 'true'}" %></li>
              <li><%= link_to 'Favorites', profile_index_path(to_try: 'favourite', category: params[:category], score: params[:score], profile: 'true'), class: "#{'active' if params[:to_try] == 'favourite'}" %></li>
            </ul>
          </div>
          <div class="<%= 'col-lg-8' %> d-flex justify-content-end">
            <!-- Top Rating -->
            <%= f.hidden_field :profile, :value => "#{params[:profile]}" %>
            <%= f.select(:score, [["Top Rated", "desc"], ["Low Rated", "asc"]], selected: params[:score]) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>