<!DOCTYPE html>
<html>
<head>
  <title>RestaurantReviewsWeb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'template', media: 'all' %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.2.2/dist/photoswipe.css" integrity="sha256-PWZ5T/Tr5E5OnK6FkaURy3VdK7K5uezyoQ/h7jXrdR8=" crossorigin="anonymous">

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <%= yield(:head_content) if content_for?(:head_content) %>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFbLw7Yc1hLAOvQAWbd48XdvtNhieq5Y&libraries=places"
    async=""
    defer=""
  ></script>
</head>

<body aria-colcount="position-relative" data-bs-spy="scroll" data-bs-target="#add-restaurant-review-nav" data-bs-offset="190" tabindex="0" >

  <!-- Preloader Start -->
  <div id="preloader">
    <div class="loader3">
      <span></span>
      <span></span>
    </div>
  </div>
  <!-- Preloader End -->

  <% if user_signed_in? %> <%= render "shared/header" %> <% end %>


  <%= render 'shared/flash_messages' %>
  <%= yield %>
  <%= javascript_include_tag 'dashboard' %>
</body>

<script>
  window.initAutocomplete = () => {
    const event = new Event('google-maps-callback', {
      bubbles: true,
      cancelable: true,
    })
    window.dispatchEvent(event)
  }
</script>
</html>
