<!DOCTYPE html>
<html>
<head>
  <title>RestaurantReviewsWeb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-visit-control" content="reload">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
  <link rel="shortcut icon" href=/app/assets/images/template/favicon.png"/>
  <%= favicon_link_tag asset_path('favicon.png') %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'new_ckeditor/classic/ckeditor', "data-turbo-track": "reload" %>
  <%= yield(:head_content) if content_for?(:head_content) %>
  <%= filestack_js_include_tag %>
  <%= filestack_js_init_tag %>
</head>

<body aria-colcount="position-relative" data-bs-spy="scroll" data-bs-target="#add-restaurant-review-nav" data-bs-offset="190" tabindex="0">
<!-- Preloader Start -->
<div id="preloader" class="d-none">
  <div class="loader3">
    <span></span>
    <span></span>
  </div>
</div>
<!-- Preloader End -->

<% if user_signed_in? %>
  <%= render "shared/header" %>
<% end %>

<%= render 'shared/flash_messages' %>
<%= yield %>

<script>
  function initMap() {
    let longEl = document.getElementById("long")
    if (!longEl) {
      return
    }

    let long = document.getElementById("long").getAttribute("data-longitude");
    let lati = document.getElementById("lat").getAttribute("data-latitude");
    lati = parseFloat(lati);
    long = parseFloat(long);
    const place = {lat: lati, lng: long};
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 16,
      center: place,
    });
    const marker = new google.maps.Marker({
      position: place,
      map: map,
    });
  }

  window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFbLw7Yc1hLAOvQAWbd48XdvtNhieq5Y&libraries=places&callback=initMap"></script>
<script>
  window.markerConfig = {
    destination: '62f7c831ea66067c8549b9fa',
    source: 'snippet'
  };
</script>
<script>
  !function (e, r, a) {
    if (!e.__Marker) {
      e.__Marker = {};
      var t = [], n = {__cs: t};
      ["show", "hide", "isVisible", "capture", "cancelCapture", "unload", "reload", "isExtensionInstalled", "setReporter", "setCustomData", "on", "off"].forEach(function (e) {
        n[e] = function () {
          var r = Array.prototype.slice.call(arguments);
          r.unshift(e), t.push(r)
        }
      }), e.Marker = n;
      var s = r.createElement("script");
      s.async = 1, s.src = "https://edge.marker.io/latest/shim.js";
      var i = r.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(s, i)
    }
  }(window, document);

  $('form').on('keypress', event => {
    if (event.keyCode == 13) {
      return false;
    }
  });
</script>
</body>
</html>
